[2019-06-21 17:42] srevinsaju opened #1 "HOME_KEY, MENU_KEY not working"
Ok, i tried many ways, but I couldn't do it. Can @rom1v help me out please?

[2019-06-29 20:43] srevinsaju commented on #1
Fixed it, somehow. No lags.

[2019-06-29 20:43] #1 closed

[2019-08-28 04:33] srevinsaju opened #2 "Enable Pinch in / Pinch out option"
Can anyone help me on how to do a pinch on an android device through cli

[2019-08-28 15:20] pyup-bot opened #3 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2019-08-28 18:28] #3 closed

[2019-08-29 10:05] logix2 opened #4 "Panels not movable using Ubuntu 19.04"
The two guiscrcpy panels (toolkit UI controller and bottom panel controller) cannot be moved on Ubuntu 19.04 with Qt 5.12.2. I assume one was supposed to be able to move them by dragging the 4 dots icon, but that doesn't work. I can move them by holding the Super key, then dragging them using the left mouse button, but some users might not be aware of that.

I'm using the latest guiscrcpy Linux bi

[2019-08-29 11:45] srevinsaju commented on #4
I tried it on Ubuntu 19.04 with KDE Plasma, it has worked. I tested it on Windows, and works good. Are you using GNOME? It would be very useful if you send your gnome version, so that I can update the README.MD file for adding Super key and drag. I can add a title bar. What is your opinion on the title bar

[2019-08-29 11:49] logix2 commented on #4
Yes, I'm using Gnome 3.32.2 with Gtk 3.24.8 (the Ubuntu 19.04 default).

[2019-08-29 11:52] srevinsaju commented on #4
PyQt has some problems with Frameless windows. I shall test it on my GNOME and update you.

[2019-08-29 12:00] logix2 opened #5 "Binary doesn't start on Ubuntu 18.04 LTS"
The Linux binary downloaded from the guiscrcpy releases page (latest version) does not start on Ubuntu 18.04 LTS. This happens when I try to start it:

[code]

[2019-08-29 12:02] srevinsaju commented on #5
OK, that's a bug. Did you try with the source code? I compiled it on 19.04, so the compatibility is from that version onwards. Thanks for testing and finding vulnerabilities

[2019-08-29 12:07] logix2 commented on #5
I get an error trying to run it from source too:

[code]

This is using the instructions from the readme.

Maybe you can compile the binary on something older, at least Ubuntu 18.04, so it has wider compatibility?

[2019-08-29 12:19] srevinsaju commented on #5
I don't have Ubuntu 18.04, I will try it with a live CD.

[2019-08-29 12:21] logix2 commented on #5
You can also use it in a virtual machine.

[2019-08-29 12:22] srevinsaju commented on #5
My PC is running Intel Core Duo 2, 2012 with no Vt-x. The reason I switch
to Linux 3months ago

[2019-08-29 15:19] srevinsaju commented on #4
I have tested moving Panels in Ubuntu LTS 18.04 and 19.04. So far, I have no non-moving issues. Checked from compiled binary and source. Works fine. It seems like a bug in your device. Can you send your `neofetch`

[2019-08-29 15:22] logix2 commented on #4
It could be an issue on my device, that I don't know. Here's neofetch:

[code]

[2019-08-29 15:29] srevinsaju commented on #5
Yes, the binary error occurs on my device too, running Ubuntu 18.04 LTS. The rot cause is the native Python 3.6 as the interpreter. Hence Python 3.7 modules cannot be loaded onto the memory.

I shall compile another Linux version, using Python 3.6 modules.

However, the source code works perfectly, provided the up to date Python interpreter is used.

[2019-08-29 15:32] logix2 commented on #5
I just tried it, and the exact same error occurs when trying to run it from source on Ubuntu 19.04 too. And Ubuntu 19.04 has Python 3.7 by default.

[2019-08-29 15:35] srevinsaju commented on #5
I have added another commit adding a variable called `dimension`, try running `python3 . ` after cloning the new source, and try again, hopefully, it should work. :)

[2019-08-29 15:37] srevinsaju commented on #5
Is the binary working on 19.04?

[2019-08-29 15:59] srevinsaju commented on #4
Ok, anyways, I shall add using Super, Meta or Alt keys to move panel, in the case of non-functionality, with reference to this issue. So with this, I am closing this issue.

[2019-08-29 15:59] #4 closed

[2019-08-29 16:11] srevinsaju commented on #5
@logix2 please try the latest 18.04 specific release for guiscrcpy, put on the README.md file Download section. Please update with the outcomes.

Happy to help

[2019-08-30 09:58] logix2 commented on #5
Hi.

Running it from source still fails. This is on Ubuntu 19.04:

[code]

Yes.

This build works on Ubuntu 18.04, thank you!

[2019-08-30 14:28] srevinsaju commented on #5
![Screenshot from 2019-08-29 15-48-22](https://user-images.githubusercontent.com/48695438/64028108-b79c4100-cb4a-11e9-975e-1199a439f75f.png)
This is the live example of running guiscrcpy from source on 18.04 LTS. I had no problem in installing so.

As the binary works fine, I am removing the `bug` label, and might close this issue soon. It looks like there has been an unwanted extension on your gn

[2019-08-31 13:43] seiya-git opened #6 "[Feature request] Portable edition (windows)"
Hello. Can you make portable installer? I don't want store configuration in my system

[2019-08-31 14:02] srevinsaju commented on #6
Yes, sure, the next release may include a portable installer. In the sense of portable, it will be a zipped folder of all the necessary DLLs and EXE file. Hope it will be fine. Will mark this as a feature request.

[2019-09-02 10:00] logix2 commented on #5
That extension shows that output no matter what GUI app I launch from the command line, it's not related. And this issue is identical for me on both Ubuntu 19.04 (where I have that extension), and Ubuntu 18.04 (where I don't have that extension).

I'm just trying to make a blog post on my website https://www.linuxuprising.com about this scrcpy GUI which I find very interesting, but there are going

[2019-09-02 11:45] srevinsaju commented on #5
I am indeed interested in your blog and the website mentioned above. I apologise for the uncapability of me understanding your error, (I am 16, so..), but I have created a workaround for the above mentioned problem in the latest commit (today). Hopefully this fixes your error, and get the source running. The file from which the error is raised, is actually created automatically by pyuic5, a compon

[2019-09-02 11:49] logix2 commented on #5
You don't have to apologise for anything, bugs happen, don't worry about it. Using the latest Git works and I can now run it from source, thank you very much! I'll make a post about guiscrcpy on my blog probably tomorrow.

[2019-09-02 11:49] #5 closed

[2019-09-02 11:53] srevinsaju commented on #5
It was indeed a new learning experience for me. Thank you very much :)

[2019-09-03 11:13] logix2 opened #7 "Configuration file should not be created in the $HOME directory on Linux"
guiscrcpy currently creates the ``guiscrcpy.cfg`` file in the user's home directory. This is not the correct way to do it. Instead, maybe you can follow the freedesktop specifications and use something like ``$XDG_CONFIG_HOME/guiscrcpy`` and save it there (``$XDG_CONFIG_HOME`` defaults to ``~/.config/`` if it's empty by default).

Also, I don't see any documentation as to what I could specify in t

[2019-09-03 11:39] srevinsaju commented on #7
Is $

[2019-09-03 11:40] srevinsaju commented on #7
Is XDG_CONFIG_HOME works same as C:\Users\xxx\AppData\ in Windows.

[2019-09-03 11:49] logix2 commented on #7
I don't know how C:\Users\xxx\AppData\ works on Windows, I rarely use it.

There's also`` $XDG_DATA_HOME`` for data files.

See this for more information: [https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html)

[2019-09-03 12:12] srevinsaju commented on #7
I have to restructure the code for this, applying for both Windows and Linux. The user home directory was easier for me,because on Linux, it points to ~/guiscrcpy.cfg and on Windows, it points to C:/Users/<USERNAME>/guiscrcpy.cfg

The commit fixing these will be released shortly with the fix for main window resizing problem, hidden landscape button, restructured debug statement with "LOG: ***" , o

[2019-09-03 12:29] logix2 commented on #7
Until you get to that, maybe you can at least hardcode it to something like ``~/.config/guiscrcpy/`` ? (where ``~`` is the user home dir; this also works: ``$HOME/.config``), or make the config file hidden by adding a ``.`` (dot) to the beginning of the filename? Users are generally unhappy with having apps creating files (that are not hidden) directly in their home folder.

[2019-09-03 12:47] logix2 commented on #5
As promised, I wrote an [article on my blog about guiscrcpy](https://www.linuxuprising.com/2019/09/helper-gui-for-scrcpy-android-desktop.html). Thanks for this nice tool!

[2019-09-03 15:36] srevinsaju commented on #7
Hmm, then I shall chose the .config file both on Windows and Mac.

[2019-09-05 02:53] lhanson commented on #7
No need to guess on a default directory, the spec is clear on what the defaults are if the user hasn't specified an alternate and many libraries exist to derive it for you.

[2019-09-05 07:12] linuxundich opened #8 "NameError: name 'FileNotFoundError' is not defined"
I installed guiscrcpy under Arch Linux (via AUR guiscrcpy aswell as guiscrcpy-git). Both versions fail at the with the following error...

    $ guiscrcpy
    ************************************
    guiscrcpy v1.10.0-release
    by srevinsaju
    ************************************
    released on 24082019 GMT+0300 2048
    Licensed under GNU GPL v3 (c) 2019
    *********************************

[2019-09-05 10:07] agsola opened #9 "Non admin privileges/installation required"
I'm currently using scrcpy in a computer where I have no admin rights (Windows 10).
Since it is just an executable, it works perfectly.

However, guiscrcpy requieres installation and admin privileges.

Could you distribute a "portable" version with an executable that doesn't require installation?

[2019-09-05 11:24] Strubbl commented on #8
Which is your default python version?
You can find out with `python --version`

[2019-09-05 16:03] linuxundich commented on #8
Yeah, Python2...

    $ python --version
    Python 2.7.16

[2019-09-05 16:14] Strubbl commented on #8
guiscrcpy needs python3. I do not know if it can be required by the AUR package somehow.

[code]

So, if you have python3 installed and start guiscrcrpy with `python3 /opt/guiscrcpy/__main__.py`, it should work.

[2019-09-05 16:16] linuxundich commented on #8
Thanks for your help! I had a Python2-Binary in my $PATH. Don't remember why, but I deleted it and rebuilt the program. It "works" now... in other words: it crashes, but with another error. I'll open another issue

[2019-09-05 16:33] srevinsaju commented on #8
Why does the binary file not work, even though you have python 2, python3 lib.so libraries are also embedded, so that you can run this anywhere.
(I) did you try 19.04 v or 18.04 v
(II) can you give the output while running binary?

@Strubbl, how did you understand it's a python2 output, hatsoff to your skills, I am a newbie :)

[2019-09-05 16:41] linuxundich commented on #8
@Strubbl The second time I started `guiscrcpy` everything works. Will play with your tool for a while :+1:

[2019-09-05 16:43] Strubbl commented on #8
The binary file did not work, because it calls python. Due to the changed linuxundich's $PATH variable the python command pointed out to a python2 binary.

Usually in a default Archlinux installation, python shall point to python3, e.g.:

[code]

I am no python expert, but i googled, and saw the FileNotFoundError was not part of python2.

[2019-09-05 16:47] srevinsaju commented on #8
@Strubbl, thanks for the info! Me too, I am neither a python expert, a grade 11 student.
So I learnt a bit today though :).

Seems like I have to update the README.md and reference this issue. Thanks 😊

[2019-09-05 16:47] #8 closed

[2019-09-06 03:38] srevinsaju commented on #6
Fixed, see Releases v1.10.1

You may close the issue, or issue will be closed in 48hrs

[2019-09-06 03:40] srevinsaju commented on #7
@logix2, guiscrcpy.cfg file is moved to .config in home dir on Linux and AppData/Local on Windows, Home directory on Mac.

Marking this as fixed, you may try it.
I shall close the issue in 2days

[2019-09-06 03:42] srevinsaju commented on #9
@agsola, create portable file. You may now create the shortcut on your own. To update scrcpy executable, if v 1.11 is released, you may extract scrcpy Windows 32 bit zip file to the guiscrcpy directory. Released in Released v1.10.1. please verify and comment.

Issues shall be closed in 2 days

[2019-09-06 04:31] lhanson commented on #7
Does it simply save to `$HOME/.config/guiscrcpy.cfg`? If so, it shouldn't be hardcoded as such, it should respect `$XDG_CONFIG_HOME` if set.

[2019-09-06 05:06] srevinsaju commented on #7
It saves to $HOME/.config/guiscrcpy.cfg. I am not sure if $XDG_CONFIG_HOME is available on all Linux platforms, and I would not like to edit System variables as such. Probably I didn't understand @lhanson 's comment on this. @lhanson , could you please explain me?

[2019-09-06 05:14] lhanson commented on #7
@srevinsaju Sure. `$XDG_CONFIG_HOME` is not typically set by default on Linux systems, but that's part of the spec. If the user doesn't set it, the specification says that an application's configuration goes in a subdirectory under `$HOME/.config`. In this case, it would be a directory called `$HOME/.config/guiscrcpy`, e.g. the file would be called `$HOME/.config/guiscrcpy/guiscrcpy.py`; or better

[2019-09-06 05:31] srevinsaju commented on #7
@lhanson, I understood the benfits of using `$XDG_CONFIG_HOME`, but s this variable predefined in all the Linux distros, for example, in Raspbian, or in Gentoo, and other non-popular Linux Oses. I used `~/.config/guiscrcpy.cfg` because, its safer compared to  `$XDG_CONFIG_HOME`, because all the Linux distros have .config folder in their home directory. If  `$XDG_CONFIG_HOME` is predefined in all L

[2019-09-06 05:47] lhanson commented on #7
`$XDG_CONFIG_HOME` is *not* predefined on any distro I know of. The point of the specification is to assume a default (`~/.config/guiscrcpy/`) until/unless the user wants it somewhere else, at which point they manually set `$XDG_CONFIG_HOME`.

Hardcoding it to `~/.config` is not safer because it still ignores the user's wishes if they don't want it there.

I suggest reading over the spec, it's not

[2019-09-06 06:26] agsola commented on #9
It works, thank you!

I've just found three (some Windows related).

1.- When pressing "fullscreen", I get "wmctrl" is not recognized.
2.- When reorienting, it seems to use linux routes:
[code]

3.- When trying to move the guiscrcpy bars for the first time not using the dots, it dumps this error and closes.
[code]

If, instead, I first move the bar with the three dots, and then move it elsewhere,

[2019-09-06 14:13] srevinsaju commented on #9
@agsola , your bugs are now fixed, new security release for Windows 1.10.1.1 is released fixing all the bugs mentioned here. You may download the latest Release on the Releases page, Windows column, link modified..

1. Fullscreen is currently under development only. You can use Scrcpy shortcut `Ctrl + F` for Fullscreen, but for the button, you need to install additional sources like `PyAutoGui`. A

[2019-09-06 14:16] srevinsaju commented on #7
Hmm, thanks @lhanson for the info, will fix it for the next Linux Release v1.11. As running guiscrcpy config flle from `~/.config` is not very tedious, I will keep this issue open, until I commit the `$XDG_CONFIG_HOME`. Thank you

[2019-09-06 15:28] #6 closed

[2019-09-06 16:43] linuxundich opened #10 "Guiscrcpy crashes when started for the first time"
I tried Guiscrcpy on two systems and both times I noticed that the applications crashes the first time, when no user configuration could be found.

[code]

The second time, when the basic configuration was saved, everthing is fine and the application windows appears on the screen.

[code]

[2019-09-06 16:58] srevinsaju commented on #10
@linuxundich, may I know which guiscrcpy version you are using? Seems like I had formatted the output in the latest release?
Please check if you are using v1.10.1 release and check if you are using source or binary

[2019-09-09 09:23] #10 closed

[2019-09-09 09:25] #9 closed

[2019-09-15 17:05] pacho2 opened #11 "venv/bin/python3 should rely on system python3 instead of a built one"
Currently it seems a python3 binary is bundled in venv/bin/python3 instead of using system /usr/bin/python3, that would be preferable

Thanks a lot

[2019-09-15 17:16] srevinsaju commented on #11
I didn't get you. Could you please elaborate the problem. I don't use venv,
so yeah..

[2019-09-15 17:28] pacho2 commented on #11
Sorry

I was referring that, when reviewing the files in the tarball, I noticed that the file venv/bin/python3 looks to be a precompiled python3 version coming from... I guess your system. It even looks to rely on glibc-2.29 and, by default, it won't run if I don't give it a executable permission.

I was trying to see if I could package this on Gentoo getting inspired on Arch Linux package:
https:

[2019-09-15 17:33] srevinsaju commented on #11
A question of concern, are you yochananmarqos who started packaging guiscrcpy for AUR?

I have created an installation script in the build guiscrcpy-installer.sh for adding desktop launcher as well. Use the original script for adding desktop launcher and adding it to path

[2019-09-15 17:44] pacho2 commented on #11
No, I am a Gentoo dev , but I don't find that installer

[2019-09-15 18:03] srevinsaju commented on #11
Ok sorry about that. I am not the maintainer of the AUR repository. The AUR is built by yochananmarqos, athird party packager. You might need to raise an issue on pkgbuild website. Why don't you try my source code and my compiled binaries (official) from the release page or try guiscrcpy nightly (https://github.com/srevinsaju/github-nightly)

[2019-09-15 18:25] pacho2 commented on #11
Because in Gentoo we try to build from sources doing and ebuild that allows our users to compile and install software using "emerge". Then, I was trying to create an ebuild based on the sources found at
https://github.com/srevinsaju/guiscrcpy/releases

[2019-09-16 11:59] srevinsaju commented on #11
Ok, I read through ebuild system of gentoo. Can you please share your terminal output while running the binary from GitHub guiscrcpy releases or the nightly release?

[2019-09-16 19:51] pacho2 commented on #11
Do you refer to __main__.py? That runs nice. I only wonder about what is using the python3 from venv/bin/python3 and if we could simply not install it.

This is caused because, as this has no build system, it's not quite clear what files should we install or not. Also, it seems we need to keep all files together (instead of, for example, installing python files into /usr/lib/python3.6... and data

[2019-09-17 04:00] srevinsaju commented on #11
You can use venv to create separate virtual environment. There is particularly no need for using the guiscrcpy-binary package as python3 is faster. The only script needed to run it is: pip3 -r < requirements.txt and python3 __main__.py

[2019-09-18 19:42] srevinsaju commented on #11
Did you mean a build system for python? Like meson?

[2019-09-18 21:30] pacho2 commented on #11
Yes, like meson, but usually python packages use distutils (I am not sure why as I am not a python guy :/)
https://docs.python.org/3/library/distutils.html

[2019-09-21 20:22] srevinsaju commented on #11
@pacho2 , I did a lot of extensive testing on using distutils for python or creating a python package, but it doesn't work out as it has internal UI imports which are different from package dependencies. As an alternative, I have recently committed a bash script fiile which will automatically do the building for you. As nothing is there I can do for python build system, I am closing this issue. Ap

[2019-09-23 17:26] librewish opened #12 "add support for usbaudio to forward audio from Android to pc"
https://github.com/rom1v/usbaudio

add an option in the gui to use this
so that we can have audio from Android to pc.

[2019-09-24 11:33] srevinsaju commented on #12
Good feature, will work on it!, But it will only work with Linux

[2019-09-26 15:34] jasonwkl opened #13 "Add Point / Touch - keyboard mapping"
Is it possible to add Bluetooth controller mapping to screen so it can be used on RPi fashioned much like a switch dock for playing android games.

[2019-09-26 20:05] srevinsaju commented on #13
Did you mean, opening the Bluetooth panel with a keyboard shortcut, or switching Bluetooth on/off

[2019-09-26 20:13] jasonwkl commented on #13
Maybe this is not for the capability of this software but I was thinking more of letting a Bluetooth game controller map to a region on the screen, so that people can use a game controller to control buttons that is on the screen.

[2019-09-26 20:29] srevinsaju commented on #13
I wanted to map some customizable points on the screen , similar to
BlueStacks and RemixOS, but the problem is scrcpy is running on SDL. I have
add this to 'my virtual feature list', to use a screen shot from the device
and then let the user map the points, like buttons mapped to keyboard. What
is your opinion on this? Or did I misunderstand your feature?

On Thu, Sep 26, 2019, 23:13 jasonwkl <not

[2019-09-26 20:41] jasonwkl commented on #13
That exactly what I am thinking of. Sounds awesome. Can't wait to try it out.

[2019-09-27 18:14] pacho2 commented on #11
No problem, thanks a lot

[2019-09-30 19:42] srevinsaju commented on #12
@librewish, with d112ac4ad9db02c47c7d97e6275708e32282d9b1 commit, the feature for usbaudio has been added

[2019-09-30 19:42] #12 closed

[2019-10-03 11:34] KaKi87 opened #14 "HiDPI support"
Please add support for HiDPI (UHD 15" screen in my case), thanks !

[2019-10-03 12:34] srevinsaju commented on #14
Is it regarding the mobile screen, or the GUI panels?

[2019-10-03 13:00] KaKi87 commented on #14
The GUI, of course. `scrcpy` is working fine.

[2019-10-06 11:11] srevinsaju commented on #14
Is the GUI appearing small in siz? Can you share me a screen shot?

[2019-10-11 05:46] srevinsaju commented on #11
@pacho2, I have added a python pip based build system for all OSes. It might help you to create the Ebuild. Installing guiscry is easy as pie now, run python3 -m pip install guiscrcpy

[2019-10-12 08:29] liyepan opened #15 "打包一个.deb包"
希望楼主可以打包一个deb的包,这样我就可以把guiscrcpu上传到软件源里面,我们是Linux人社区,新的发行版即将发布.

[2019-10-12 08:47] srevinsaju commented on #15
@liyepan, i will try to release a Deb package as soon as possible.

PS: please make future issues in English

[2019-10-20 12:14] pacho2 commented on #11
OK, thanks

I will take a look about how to adapt it :)

[2019-10-30 16:30] moluoyu opened #16 "guiscrcpy crashed on Ubuntu 18.04 when i use mouse to click some button"
i down guiscrcpy from pip. when i click other button ,it doesn't any response.when i click  "full screen "  button.it crash. the log in the below:

/home/luoyu/anaconda3/lib/python3.7/site-packages/guiscrcpy/app.py
DETECTED OS :: *NIX
 luoyu@luoyu-pc  /etc/udev/rules.d  LOG: Received flag False
guiscrcpy
by srevinsaju
released on 03102019
Licensed under GNU GPL v3 (c) 2019
MSG: Please ensure you

[2019-11-01 06:44] srevinsaju commented on #16
@moluoyu the fullscreen option is not currently functional. Read README.md. You can alternatively use Ctrl+F or Meta+F to Fullscreen your devcie.

[2019-11-01 15:37] moluoyu commented on #16
no.it not just for the fullscreen option. other buttons also not functional,besides the windows of the devices will disappear .and I can't use my mouse to lick any app on the screen of my cellphone.
the output like this:

![Selection_020](https://user-images.githubusercontent.com/27038644/68035666-0b6c0780-fcff-11e9-8755-73dcb1f82e2f.png)

[2019-11-01 16:44] moluoyu commented on #16
i   found  the reason.It the configure of my phone.Thanks.
[https://github.com/Genymobile/scrcpy/issues/70#issuecomment-373286323](url)

[2019-11-01 16:44] #16 closed

[2019-11-03 03:08] moluoyu opened #18 "gciscrcpy don't display the window of devices on ubuntu 18.04"
I found another bug.when I click some button. For example, "volume up" or "volume down ".From my cell phone, I see it work. but on the pc, I can't see the window of my cell phone.

my device: xiaomi 5x
android version: 8.1.0
`MSG: Please ensure you have enabled USB Debugging on your device. See README.md for more details
LOG: Current Working Directory /home/luoyu/anaconda3/lib/python3.7/site-packa

[2019-11-03 13:36] srevinsaju commented on #18
@moluoyu , is guiscrcpy installed from pip? Can you share a screenshot of the guiscrcpy ui window.

[2019-11-03 15:02] moluoyu commented on #18
yes.i install guisdisappaearedcrcpy from pip. when i click the "HOME" button .the window of cell phone
disappeared.And sometimes, the guiscrcpy ui window will crash(the second screenshot)

![image](https://user-images.githubusercontent.com/27038644/68087017-bbbb4680-fe8c-11e9-90b3-37c623558f2e.png)

![image](https://user-images.githubusercontent.com/27038644/68087155-ebb71980-fe8d-11e9-8387-ab9875

[2019-11-03 15:42] srevinsaju commented on #18
@moluoyu , you are not running the latest version of guiscrcpy. Guiscrcpy v1.11.3 was a bugfix release. Probably, that might solve your error. This error normally happens when you try to drag the panel by clicking on any button. Please try updating, and check the new results. Looking forward to hear from you.

[2019-11-04 14:03] moluoyu commented on #18
Thanks, it work!.i'm so sorry to bother you because of some fake bug.

[2019-11-04 14:03] #18 closed

[2019-11-06 12:27] vorikx2 opened #20 "Run scrcpy through the gui with "--render-expired-frames" enabled?"
Pretty much what the title says. Is there anyway to launch scrcpy through the gui with "--render-expired-frames" enabled?

[2019-11-06 13:12] srevinsaju commented on #20
The upcoming version 2.0 releasing today itself is featuring a TextBox which allows to add custom flags to scrcpy. Stay tuned

[2019-11-06 21:03] srevinsaju commented on #20
@vorikx2 Your issue is fixed now. See guiscrcpy v2.0 https://github.com/srevinsaju/guiscrcpy/releases/tag/2.0

[2019-11-06 21:04] srevinsaju commented on #13
@jasonwkl , its finally a feature. Get guiscrcpy v2.0 with Keyboard Mapping and let me know how it is https://github.com/srevinsaju/guiscrcpy/releases/tag/2.0

[2019-11-06 21:05] srevinsaju commented on #7
@logix2  @lhanson  The configuration file has been moved to `XDG_CONFIG_HOME` if it is define, defaults to `.config/guiscrcpy`. Please review and let me know

[2019-11-06 21:05] #11 closed

[2019-11-06 21:10] srevinsaju commented on #13
https://github.com/Genymobile/scrcpy/issues/712

[2019-11-06 21:56] yochananmarqos opened #24 "setup.py build errors"
I'm the AUR maintainer for both packages, as you may already know. I'm using Manjaro GNOME.

Building from v2.0 release tarball:
[code]

This also happened with v1.12.0, but not v1.11.3. I cannot reproduce it building from c6169d4.

[2019-11-06 22:51] arnauldb opened #25 "Not launching"
Hello,

On Linux Mint Sylvia 18.3, with scrcpy installed & working and guiscrcpy v2.0 successfully installed with no errors with `python3 -m pip install guiscrcpy --user`.

I can see the guiscrcpy launcher, but it doesn't launch anything. When I do `guiscrcpy` I obtain this:

Thank you.

[2019-11-06 23:05] vorikx2 commented on #20
Fucking awesome, thanks! @srevinsaju

[2019-11-07 05:19] srevinsaju commented on #20
:blush:

[2019-11-07 05:20] srevinsaju commented on #25
Does running `guiscrcpy` in terminal run `guiscrcpy`

[2019-11-07 05:21] srevinsaju commented on #24
I suggest you to clone the repo than building from tarball

[2019-11-07 05:23] #7 closed

[2019-11-07 05:24] #20 closed

[2019-11-07 05:25] srevinsaju commented on #14
As no response was taken on this issue, I assume it is fixed with v2.0

[2019-11-07 05:25] #14 closed

[2019-11-07 05:26] #13 closed

[2019-11-07 05:26] srevinsaju commented on #15
@liyepan, I am not planning to release Deb package. Creating a Deb package will inhibit a lot of libraries. It is better to use pip

[2019-11-07 05:26] #15 closed

[2019-11-07 06:29] yochananmarqos commented on #24
Well, there's no point in the `guiscrcpy` AUR package then. I'll continue to maintain the `guiscrcpy-gt` package.

[2019-11-07 06:29] #24 closed

[2019-11-07 09:02] srevinsaju commented on #25
Try
[code]
Alternatively try

`python3 -m pip install guiscrcpy` without the `--user` flag

[2019-11-08 00:19] fanmli opened #27 "I can't start!"
I can't start!
Windows 10 system has installed scrcpy and will successfully connect the phone, boot without any reaction, there is hope that the author compiles an EXE version, thank you for your efforts!
`https://i.loli.net/2019/11/08/nRCLBS1MIzJ5Qcr.png`
`https://i.loli.net/2019/11/08/tTNjqmE3dOrvPQD.png`

[2019-11-08 05:18] srevinsaju commented on #27
Hey there,

Thanks for contacting me for this issue.

The correct way to run guiscrcpy is :

[code]

[2019-11-08 07:23] fanmli commented on #27
Still can't start! There is no problem with having guiscrcpy v11.2 installed before, and the trouble author is wrong to see if that step is wrong.
`https://ae01.alicdn.com/kf/Hb727a8b487be4172917462b81359a956p.png`
`https://ae01.alicdn.com/kf/H99f9d6d6a7ba4752947fd6ac94ebfe2eT.png`
`https://ae01.alicdn.com/kf/H0976597d94d0459498af384f18dc9bf6A.png`
`https://ae01.alicdn.com/kf/H4317d0c2f7f44e55a1ae

[2019-11-08 07:49] srevinsaju commented on #27
No, it's not in python interpreter, do it in the command prompt
The same command run it on the command prompt console. It should work now

[2019-11-08 10:18] fanmli commented on #27
I can't use it in the command prompt before Trying the Python interpreter.
`https://ae01.alicdn.com/kf/Hf673cc044aca4252ad714cddfee0eda77.png`

[2019-11-08 10:45] srevinsaju commented on #27
Don't type python in front of guiscrcpy

Try

[code]

[2019-11-09 05:26] srevinsaju opened #28 "guiscrcpy snap package"
@sisco311  the snap package you built for scrcpy was extremely useful. Could anyone please explain me how to access the scrcpy snap I I create another snap called `guiscrcpy`

Link to existing non working snap
https://snapcraft.io/install/guiscrcpy

_Sent from my Galaxy Note2 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2019-11-14 03:16] #27 closed

[2019-11-14 03:16] srevinsaju commented on #27
Hope the issue is fixed

[2019-11-14 03:20] srevinsaju commented on #25
@arnauldb is it fixed?

[2019-11-14 09:07] arnauldb commented on #25
Hello @srevinsaju

Sorry for the late reply.
I just tried `$ python3 -m guiscrcpy` and it works fine. For my system (Linux Mint 18.3 Sylvia) it is the only way to launch Guiscrcpy. Clicking the icon doesn't work...

Thank you.

[2019-11-14 11:23] srevinsaju commented on #25
@arnauldb thanks for the reply. Its an error in the desktop shortcut created with `pyshortcuts`, the code was not working, so I have to independently work on that. I will  work on that , thanks for the feedback.

[2019-11-14 11:23] #25 closed

[2019-11-26 04:01] rjbeswin opened #32 "Error on Swipe Left"
LOG: Passing SWIPE LEFT
Traceback (most recent call last):
  File "C:\Users\FLASHY\guiscrcpy\guiscrcpy\__main__.py", line 1051, in swipleft
ValueError: invalid literal for int() with base 10: '2560\r\nOverride size'

[2019-11-26 18:27] srevinsaju commented on #32
hello @rjbeswin can you please send me the output when you execute
[code]

[2019-11-28 00:34] rjbeswin commented on #32
Physical size: 1440x2560
Override size: 1080x1920

[2019-11-29 11:25] srevinsaju commented on #32
@rjbeswin, this is a new type of display resolution. I haven't implemented swipe for Override Size (I didn't know one existed like that, I thought only Physical Size existed). I will surely implement in the next version!

[2019-11-29 11:32] rjbeswin commented on #32
I was actually using extended display in my laptop at work. Does it something to do with that?

[2019-12-01 16:01] srevinsaju commented on #32
@rjbeswin, ir hss nothing to do with extended display. seems like your phone resolution was changed manually. can you send me a screenshot of your Android device in full quality (by not resizing), you can do this by

[code]
I would like to know whiv is your original screen resolution, as two of them are given?

[2019-12-02 08:27] rjbeswin commented on #32
C:\Users\RBeswin>adb shell screencap -p screen.png
Error opening file: screen.png (Read-only file system)

[2019-12-02 12:44] srevinsaju commented on #32
try this
[code]

[2019-12-02 13:18] rjbeswin commented on #32
![scr](https://user-images.githubusercontent.com/49226873/69962541-34bfc380-1549-11ea-8d5e-6741659ea25b.png)

[2019-12-10 13:18] vorikx2 opened #37 "guiscrcpy 2.0 exe"
Is there any plan on making a 2.0 exe like with v1.10? Been trying to get 2.0 to run without an exe but for some reason I run into trouble with using python

[2019-12-10 19:48] srevinsaju commented on #37
I can create an exe for you, but most people prefer python because it's so fast compared to binary. what is the error you're coming across while running it with python?

[2019-12-11 02:09] vorikx2 commented on #37
that'd be awesome! I'd have to reinstall python to double check, but I think it was along the lines of it not being able to find something

[2019-12-11 14:36] mitcoes opened #38 "import qdarkstyle Error."
Traceback (most recent call last):
  File "/usr/lib/python3.8/site-packages/guiscrcpy/__main__.py", line 23, in <module>
    import qdarkstyle
ModuleNotFoundError: No module named 'qdarkstyle'

Using Manjaro, and installing from AUR in both packages.

[2019-12-11 19:19] bckps7336 opened #39 "version 2.0 Does not work on Windows"
Hello,
I installed via the pip method `pip install guiscrcpy`,
and when I want to start it, it gave me an error saying

  File "<stdin>", line 1, in <module>
  File "C:\Users\Hello\AppData\Roaming\Python\Python38\site-packages\guiscrcpy\__init__.py", line 8, in <module>
    from guiscrcpy import __main__
  File "C:\Users\Hello\AppData\Roaming\Python\Python38\site-packages\guiscrcpy\__main__.py", l

[2019-12-11 22:44] DanitiKain opened #40 "How do you get the screen record option to work?"
I have tried clicking the option and I don't see anything happen and it doesn't indicate where the file will be saved. So if it is working I don't know where the file would be saved. I have checked /Home /Videos /Downloads

[2019-12-14 11:22] srevinsaju commented on #40
check in your home directory. it's most likely to be there, else check it in ~/.config/guiscrcpy

[2019-12-14 11:23] srevinsaju commented on #38
use ``` pip3 install qdarkstyle ```

[2019-12-14 11:33] srevinsaju commented on #39
ok, thanks for reporting the bug, what does [:-11] return from the os.chdir thing. also try importing it into the console, you can do this on your bash / cmd.exe or powershell

[code]
hope it works! let me know if it does, so I can alter the code

[2019-12-14 11:38] bckps7336 commented on #39
11 is the length of `__main__.py`, which after cutting it from the file string, is the path to the file.

The command reported as follows: (I reinstalled to undo my change)

LOG: This is not running from Source. No git sha retrievable
LOG: Extracting version number from pip
LOG: Received flag False
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "C:\Users\hello\App

[2019-12-14 15:14] yochananmarqos commented on #38
@mitcoes: I can't reproduce that. Have you reubilt `python-qdarkstyle`?

@srevinsaju That's not how it works on Arch. Python packages are available to install from the repos. Everything should be installed with Pacman, otherwise there could be conflicting files installing with something else. Unless one does development, there's never a reason to use `pip` to install Python packages. In that case,

[2019-12-14 15:19] srevinsaju commented on #38
@yochananmarqos, thanks for the info, I hope its not a problem with guiscrcpy git branch; I am so confused with Arch Linux and how it works, thanks for making a AUR package for delivering guiscrcpy to Arch :+1:

[2019-12-14 15:24] srevinsaju commented on #39
Hmm @bckps7336, thats great info! :100:  Unfortunately, can't implement it in the main branch because, some people run guiscrcpy by the filename `guiscrcpy` as a module and not `__main__.py`, I would be glad to know what the `filename` corresponds to in Windows. For me on linux, `filename` corresponds to `guiscrcpy` and not `__main__.py`, maybe the filename is what I need to fix. Thanks

[2019-12-14 15:26] srevinsaju commented on #37
@vorikx2 It might be probably
`ModuleNotFoundError: pynput not found`
If thats so,
Fix it by:
[code]
or (on windows)
[code]

[2020-01-02 03:09] ripefig opened #42 "Any way to combine all the tools into one window?"
All the windows of the application are hard to manage and they stay on top of all other windows. Wouldn't it make more sense to just have one window?

[2020-01-02 03:28] srevinsaju commented on #42
The next release will have an option to select if the window remains on the top. If i keep the window with power button and other stuff into one single window, will it be easy to use. It was initially one window, I separated it because people asked me to.

[2020-01-02 03:59] vorikx2 commented on #37
Any chance you'd still be able to make the exe at all?

[2020-01-02 13:13] srevinsaju commented on #37
@vorikx2 to build an exe, I need to have a windows system. My hdd got corrupted, and am waiting this month end to get it working again. Had exams, so couldn't work on it.
If you would prefer v1.11 versions for Windows available on MEGA

[2020-01-04 12:57] ariagecheney opened #44 "error:clipd2PC&&clipPC2d windows 10 1909"
windows 10  1909 ， Anaconda Create guiscrcpy's own environment , vscode 1.0.39
I downloaded the source code, debugging  via  vscode.I have executed"pip install -r requirements“ and i unlocked some features such as clipd2PC, clipPC2d

1. but   "__main__.py line 445:  scrcpywindow.foucus(), run error: AttributeError: 'Win32Window' object has no attribute 'focus' ".
2. "__main__.py line 593:function

[2020-01-04 13:02] srevinsaju commented on #44
Hello @ariagecheney . Copying characters are limited to unicode. This is an issue on Genymobile/scrcpy https://github.com/Genymobile/scrcpy . Clipboard activity uses pygetwindow and pyautogui to work. Without that it won't work. I have not tested Clipboard activity button on Windows, but this might be useful and is working

On the screen mirroring window:
`Ctrl + C` does copy from phone to PC
`Ctr

[2020-01-04 13:03] srevinsaju commented on #44
@ariagecheney This is the same issue you are having, https://github.com/Genymobile/scrcpy/issues/907

[2020-01-04 13:26] ariagecheney commented on #44
Thanks for your reply and help! But I do say:

1. On my computer, when I copied some text (all in English) from the screen mirror window (mobile phone), I did not click the toolbar, moved the mouse directly to the computer, and still could not "paste successfully ".
2. Even though I copied, I clicked "toolbar -- copy device clipboard to PC" and got an error：
 ------------------------------------

[2020-01-04 14:28] srevinsaju commented on #44
Hope your issue is solved on https://github.com/Genymobile/scrcpy/issues/1057 . It is always best for its creator to explain how it works. I created only thr GUI wrapper for the command line baseed scrcpy

[2020-01-04 14:30] srevinsaju commented on #44
@ariagecheney regarding the button, probably PyAutoGUI have changed their API, i have not updated to latest version on Windows. My testing is focused on Linux (as thats only available option) Hope you installed guiscrcpy 2.0 from PYPI

[2020-01-04 14:31] ariagecheney commented on #44
thank you! now it work very correctly  instructed by https://github.com/Genymobile/scrcpy/issues/1057#issuecomment-570789658 steps!
thank you very much! @srevinsaju

[2020-01-04 14:32] #44 closed

[2020-01-09 22:50] AmonBune opened #45 "[Windows] GUI renders wrong when using high DPI monitors"
When using a monitor over 100% DPI (for example a 4K display) the whole GUI and controls render wrong. Here a Screenshot of the issue:
![image](https://user-images.githubusercontent.com/15927695/72111332-bff75a80-333a-11ea-98df-6b95de9cef40.png)

[2020-01-10 01:13] srevinsaju commented on #45
oh Lord 😂.

this was one of the issues pointed out by one of my clients using guiscrcpy. there are few steps to fix this:

* download and install guiscrcpy 2.0
* resize the window to make guiscrcpy visible

thanks for letting me know. I would add the screen size to the configuration file so that you won't have to resize over an over

[2020-01-10 18:13] AmonBune commented on #45
@srevinsaju Oh Lord, yes. 😂
The main window is actually not very much of a problem. Surely it is annoying and looks horrible when everything is scrambles like that, but the greater issue is the floating action bars. They cannot be resized per design and it's hard to guess what each button does or even click the correct one because they overlap each other in some cases.

Anyway, it would be great t

[2020-01-10 18:16] srevinsaju commented on #45
Ok @AmonBune thanks for the review, It seems like the toolbar icons are oversized comaparative to the window. Did you install 2.0 and check?

[2020-01-10 19:27] AmonBune commented on #39
I have the same issue. And as an addition to this, some dependencies do not install automatically.

`ModuleNotFoundError: No module named 'pynput'`
and
`ERR: gitpython is not found. It is not a dependency, but you can optionally install it with python3 -m pip install gitpython`

That was what I tried:
![image](https://user-images.githubusercontent.com/15927695/72180356-4ec1b100-33e7-11ea-8e8c-bea2

[2020-01-10 19:47] AmonBune commented on #45
@srevinsaju Version 2.0 looks like this:

![image](https://user-images.githubusercontent.com/15927695/72181532-de685f00-33e9-11ea-843c-3e2ba04a72a8.png)

As you can see, the buttons are pretty small. It would be nice if they could be made a little larger (according to the dpi percent). Also the two buttons on the bottom left edge of both button panels look a little weird to me. The main window is

[2020-01-11 09:32] srevinsaju commented on #39
thanks @AmonBune for the info regarding dependencies. Fixed on https://github.com/srevinsaju/guiscrcpy/commit/8357362fcc8b28241e0a3cdfd7114bb02bf4ed81

[2020-01-11 10:17] #39 closed

[2020-01-11 10:24] srevinsaju commented on #39
@bckps7336 @AmonBune I fixed the Error you have mentioned on the latest commit. Please review. Thanks

[2020-01-11 20:26] AmonBune commented on #39
@srevinsaju Thanks! I think we have to wait for the release on pip to be able to review it.

[2020-01-11 22:18] srevinsaju commented on #39
will release the security fix, scheduled Monday 2100 GMT+0300

[2020-01-12 14:31] srevinsaju commented on #39
@AmonBune @bckps7336 PYPI released it a bit early.
https://pypi.org/project/guiscrcpy/

[2020-01-12 15:16] AmonBune commented on #39
@srevinsaju It installs the dependencies now, thanks!

[2020-01-12 15:16] srevinsaju commented on #39
Check if it starts too :)

[2020-01-12 15:20] AmonBune commented on #39
@srevinsaju Yes, it starts and everything. Thanks for the credits :)

[2020-01-14 05:28] rjbeswin commented on #32
Hi do we have an update for this?

[2020-01-14 05:28] rjbeswin commented on #32
Do we have an update for this?

[2020-01-14 14:08] srevinsaju commented on #32
oops forgot about it. thanks for reminding, will reply soon, if I get any clue

[2020-01-14 14:26] srevinsaju commented on #32
I am fixing the issue right now 🤔

[2020-01-15 01:35] rjbeswin commented on #32
Thats great to hear!

[2020-01-15 19:45] yochananmarqos opened #47 "Invalid syntax"
After your latest commit f715f3248fe27ad8f79a391eb28a26801c84ea01, I get this:

[code]

[2020-01-16 10:43] srevinsaju commented on #38
Closing this

[2020-01-16 10:43] #38 closed

[2020-01-16 13:38] #47 closed

[2020-01-16 13:53] #32 closed

[2020-01-16 16:50] yochananmarqos opened #48 "LOG: 1 No module named 'pygetwindow'"
PyGetWindow does not support Linux. PyAutoGUI seems to work fine without it.

[2020-01-26 13:28] deragon opened #50 "Uninstall script please."
I am always wary software that only provide an install script, but no uninstall one.  I am concerned to waste time trying to figure out what files was installed where.  Please provide an uninstall script so a proper cleanup can be performed if a user decide to remove the software.

Take for instance my own FOSS project which provides easy means to uninstall the software: [Autopoweroff - Uninstalla

[2020-01-26 15:42] srevinsaju commented on #50
@deragon please use `pip3 uninstall guiscrcpy` to uninstall guiscrcpy. it is automatically done by python's package manager.
if you are a Arch Linux user, and used the AUR, then use `pacman -R' guiscrcrpy`
the manual install script is deprecated, I am trying to remove all instances of manual installation script in the documentation. if you are a user of the previous releases, you should remove
[co

[2020-01-26 15:42] #50 closed

[2020-01-28 15:56] yochananmarqos opened #51 "Icons missing from toolbars with QDarkStyle 2.8"
No issues with QDarkStyle 2.7.

Manjaro GNOME
Vimix-dark-beryl GTK / Kvantum theme
Papirus-Dark-Maia icon theme

![Screenshot from 2020-01-28 08-52-09](https://user-images.githubusercontent.com/5437803/73280400-b2035f80-41ab-11ea-97c9-d0fea09b7156.png)

[2020-01-28 16:59] srevinsaju commented on #51
@yochananmarqos areyou using higher DPI settings now, or is this the same testing device as you have used before.
I have a fix for High DPI systems remaining pending, so I would like to know if this happened due to my recent changes. Thanks for the review

[2020-01-28 17:02] yochananmarqos commented on #51
No, I haven't changed my DPI settings. This is the same device I always use. I'm not sure if your recent changes made any difference or not since it looks fine with QDarkStyle 2.7.

[2020-01-28 17:27] srevinsaju commented on #51
@yochananmarqos I have pushed the commit https://github.com/srevinsaju/guiscrcpy/commit/39f06a71578c664e3677c8218c5c8f05fc00d9f6, I am not sure if it would work, If you do have any tracebacks, that would help me too, I apologize, I am constrained to do a blind commit, it works only on my PC probably.

[2020-01-28 17:54] yochananmarqos commented on #51
It fails when running now:

[code]

[2020-01-28 17:56] srevinsaju commented on #51
@yochananmarqos I have added another commit. Extremely sorry about that, my brain gets foggy now. I have a lot of changes to commit, so I forgot to stage that hunk.Thanks

[2020-01-28 17:59] yochananmarqos commented on #51
No difference, same output.

[2020-01-28 18:01] srevinsaju commented on #51
I apologize :cry:, I sent another commit

[2020-01-28 18:04] yochananmarqos commented on #51
[code]

[2020-01-28 18:07] srevinsaju commented on #51
@yochananmarqos this error looks weird, is it ok if I send all the commits within 10 minutes, because proabably I might have some more unstaged changes, which might be causing this error. :man_facepalming:

[2020-01-28 18:10] yochananmarqos commented on #51
Take your time, no worries.

[2020-01-28 19:06] srevinsaju commented on #51
@yochananmarqos I  have pushed a huge commit. It should possibly work now. Sorry for the delay

[2020-01-28 19:20] yochananmarqos commented on #51
The main window looks the same, but the button bars don't open at all now. No errors this time.

[2020-01-28 19:21] srevinsaju commented on #51
Yes, I changed the code to launch the bars when the Start Scrcpy i pressed, hope it now works for you

[2020-01-28 19:22] srevinsaju commented on #51
I will be releasing v2.1 in a while, need to completely refactor the code, after a brief stay away from guiscrcpy, I came back and realized how messy it was. I regret writing the code :)

[2020-01-28 19:24] yochananmarqos commented on #51
Oh, duh. Yes, the bars launch when starting scrcpy, but they look the same as my above screenshot.

[2020-01-28 19:25] srevinsaju commented on #51
Oh, my bad, Idk what do i do, Is there any errors in the stdout?

[2020-01-28 19:25] yochananmarqos commented on #51
Nope, no errors this time.

[2020-01-28 19:27] srevinsaju commented on #51
Sorry for some more quiestions
-  is your screen size above 1920x1080
- seems like your'e using KDE, may I know what font size you have put, so that I can recreate it on my system and create a possible fix
Thanks

[2020-01-28 21:45] srevinsaju commented on #51
@yochananmarqos I have pushed a huge commit again,  I guess its a PyQt5.14 Port regression, the last commit strictly needs PyQt5.14.1, otherwise it might render incorrectly again. Thanks

[2020-01-28 22:04] yochananmarqos commented on #51
I tried to move the horizontal bar over dragging from the right and it crashed:

[code]

[2020-01-29 17:14] srevinsaju commented on #51
@yochananmarqos I wasn't able to reproduce the error on KDE, seems like an error which appears only on GNOME, I am getting a Ubuntu 20.04 for testing and fixing it on the VM. Thanks for the guidance you provided for the same

[2020-01-29 19:19] srevinsaju commented on #51
@yochananmarqos does commenting
[code]
help?

[2020-01-29 19:44] yochananmarqos commented on #51
Yes, that does the trick indeed.

[2020-01-29 19:45] srevinsaju commented on #51
Ok, the error was with QDarkStyle, idk why, The checkboxes might look a little bad now without QDarkStyle

[2020-01-29 19:46] srevinsaju commented on #51
@yochananmarqos if you change the previous code to
[code]
does it still look offset?

[2020-01-29 19:46] yochananmarqos commented on #51
No, they look fine. Same as in my screenshots.

As I told you to begin with, the issue only occured after updating QDarkStyle from 2.7 > 2.8.

[2020-01-29 19:47] srevinsaju commented on #51
Ok, mine might have been outdated, but does this work
[code]

[2020-01-29 19:50] srevinsaju commented on #51
Lol, I reproduced your error with updating qdarkstule to 2.8. :man_facepalming: I'm dumb

[2020-01-29 19:54] yochananmarqos commented on #51
Changing to the above made no difference.

[2020-01-29 19:55] srevinsaju commented on #51
Ok, then I will be remove qdarkstyle as my dependency. thanks for helping me find my bug

[2020-01-30 17:08] #51 closed

[2020-01-30 17:08] #48 closed

[2020-01-30 17:09] srevinsaju commented on #48
I will add a conditional import for the same

[2020-01-30 20:24] yochananmarqos opened #52 "NameError: name 'shlex' is not defined"
2.0.post27-65:

[code]

[2020-01-30 20:44] srevinsaju commented on #52
@yochananmarqos thanks for finding this bug, I was about to release v3.0

[2020-01-30 20:44] #52 closed

[2020-01-30 20:45] srevinsaju commented on #45
@AmonBune Hope this will be fixed  in v3.0, releasing in few minutes

[2020-01-30 20:45] srevinsaju commented on #37
@vorikx2 v3.0 with exe is ready. Stay tuned

[2020-01-30 21:18] vorikx2 commented on #37
@srevinsaju you legend

[2020-01-30 21:19] srevinsaju commented on #37
I am writing Release Notes, 5 minutes, and it would be ready :). Hope there would not be any errors :), fixed DPI errors too. Thanks @vorikx2

[2020-01-30 21:57] srevinsaju commented on #37
@vorikx2 released. enjoy

[2020-01-30 22:01] srevinsaju commented on #32
@rjbeswin fixed it on Release 3.0

[2020-01-30 22:09] yochananmarqos opened #53 "Build 0.0.0"
With the 3.0 release, building from the master branch or the release tag, the build now shows 0.0.0. Pulling from master was showing the actual build number earlier.

Building from GitHub there's no errors, but building from the PyPI release package there are:

[code]

I renamed `README.rst` to `README.md` and then:

[code]

There's got to be a better way to read the version than using GitPython.

[2020-01-30 22:18] srevinsaju commented on #53
Yes @yochananmarqos , thats because the PYPI package is built from github repo, it requires manual patching to fix that if you are trying to build from PYPI release, here's how:
* remove all of git imports, and replace `version=repo.git.describe("--tags")` with `version=3.0` if you are manually building it from AUR. The `repo.git.decribe` checks the .git directory (which does not exist on a PYPI r

[2020-01-30 22:20] yochananmarqos commented on #53
Thanks for the tips, perhaps I'll try that. However, building from master also shows 0.0.0 when it did not before.

[2020-01-30 22:22] srevinsaju commented on #53
it didn't happen to me when I tried, but I saw this error previously, will give a fix for it

[2020-01-30 22:25] #53 closed

[2020-01-30 22:26] srevinsaju commented on #53
@yochananmarqos I guess I fixed it on https://github.com/srevinsaju/guiscrcpy/commit/491c478dbe5da015419abba00bdcfa507311fb33, but now will have to wait for another tag to see if it actually works. Now the version should be `v3.0-1` and not `v3.0`

[2020-01-30 22:27] yochananmarqos commented on #53
Thanks, now it shows 3.0.post1.

[2020-01-30 22:27] srevinsaju commented on #53
Yea :)

[2020-01-30 22:28] yochananmarqos commented on #53
Unrelated question: Is setuptools a runtime dependency or only for setup?

[2020-01-30 22:30] srevinsaju commented on #53
Its only for the setup

[2020-01-30 22:33] yochananmarqos commented on #53
Still getting this error pulling from that commit directly:

[code]

It doesn't make any sense since pulling from master is the exact same commit. I wonder if it's how `makepkg` uses `git`.

[2020-01-30 23:00] yochananmarqos commented on #53
Alright, now it's all sorted. The stable `guiscrcpy` AUR package now displays `3.0` patching `setup.py` like you recommended.

[2020-01-31 09:02] srevinsaju commented on #45
@AmonBune please see V3.0

[2020-01-31 09:02] #37 closed

[2020-01-31 09:08] srevinsaju commented on #53
https://github.com/srevinsaju/guiscrcpy/blob/491c478dbe5da015419abba00bdcfa507311fb33/guiscrcpy/lib/ver.py#L79-L81

@yochananmarqos , you can alternatively change what is displayed on the main window, for example:
now it shows `v3.0 by srevinsaju`, but you can edit and modify it to show `v3.0 AUR by yochananmarqos`. after v3 it has become easy for packagers to brand guiscrcpy, it might help you in

[2020-01-31 10:30] logix2 opened #54 "Version 3.0 on Ubuntu: "AttributeError: type object 'QPalette' has no attribute 'PlaceholderText'""
Using the latest guiscrcpy 3.0 installed via pypi (pip3) on Ubuntu 19.10, I get this error when trying to launch it:

[code]

[2020-01-31 10:31] srevinsaju commented on #54
@logix2 can you confirm guiscrcpy PyQt5==5.14?

[2020-01-31 10:32] srevinsaju commented on #54
[code]

[2020-01-31 10:34] logix2 commented on #54
It looks like it didn't install that version:

[code]

How can I force it to use 5.14?

[2020-01-31 10:37] srevinsaju commented on #54
sudo pip3 install PyQt5==5.14
Seems like your Ubuntu had a debian package already installed in `/usr/lib/python3.*` and it loads that PyQt5 instead of the one in your `~/.local/`.

[2020-01-31 10:38] arnauldb commented on #25
Thks for your work. I just installed version 3 and the launcher (icon) works for that version on my system.

[2020-01-31 10:38] logix2 commented on #54
I won't use sudo with pip3, that can completely mess up the system. Every package that uses PyQt5 could be broken after that (I've had this happen in the past with other packages installed with pip). You'll find a lot of information about not using pip with sudo on the web...

Any other solution?

[2020-01-31 10:40] logix2 commented on #54
Well, actually installing it for my user only (npip3 install --user PyQt5==5.14 ) got it to work. So I guess guiscrcpy didn't pull it the correct PyQt5 version by itself.

[2020-01-31 10:41] srevinsaju commented on #54
Hmm, maybe, I will specify it in the documentation. Hope you like v3.0

[2020-01-31 10:41] #54 closed

[2020-01-31 10:41] srevinsaju commented on #25
Yup, I fiexed that. Thanks for you interest in guiscrcpy. Hope you like v3.0

[2020-01-31 10:43] logix2 commented on #54
Thanks for your help. The app works nicely now.

[2020-01-31 10:43] srevinsaju commented on #54
Great to know!

[2020-01-31 11:00] logix2 commented on #54
One more thing. This fails to install

[code]

This works properly:

[code]

Actually, some Linux systems don't have pip3, and for them pip (which is for Python 2 on Ubuntu) defaults to pip3 (for Python 3). The alternative that works on any Linux distribution (via Google) is to use "python -m pip install", that works on any Linux distribution and uses Python3 correctly. So then the proper installa

[2020-01-31 11:03] srevinsaju commented on #54
yup, I faced a lot of these issues, when i was on Ubuntu, I used to mention this in the documentation during that time, the guiscrcpy documentation is soo.. outdated right now, will have to include a lot of stuff, release 3.0.post2 at PYPI, now fixing the PyQt5==5.14 bug,

[2020-01-31 11:03] srevinsaju commented on #54
https://pypi.org/project/guiscrcpy/

[2020-01-31 16:37] yochananmarqos commented on #53
I'm a packager, not the developer. You get the credit, not me. ;)

Any idea why it does this during setup?

[code]

[2020-01-31 17:19] srevinsaju commented on #53
@yochananmarqos , Yup, thats because, we are not supposed to create a version on pypi, with `v3.0-8` because the hyphen on python means subtraction, thats odd, but instead we should use `v3.0.post8`, thats the correct way to do it. But Python package manager automatically does that, when we install a package like that.

[2020-02-03 01:48] rjbeswin commented on #32
I just need to re-download this again right?

[image: image.png]

On Fri, Jan 31, 2020 at 6:01 AM Srevin Saju <notifications@github.com>
wrote:

[2020-02-07 12:43] srevinsaju commented on #32
@rjbeswin I forgot this comment, You have to download the latest python package if you prefer pip packages, by pip3 install guiscrcpy==3.0.post2 or the latest version, if you are a Windows user, you may also download the latest release from guiscrcpy/releases to test the new version. thanks

[2020-02-08 00:08] #2 closed

[2020-02-10 19:05] AmonBune commented on #45
@srevinsaju I'm not able to install version 3.0 correctly. Something seems to be wrong.

![image](https://user-images.githubusercontent.com/15927695/74180376-adc15280-4c3f-11ea-9c25-26c6a69ede3b.png)

pip --version
pip 20.0.2 from c:\python38\lib\site-packages\pip (python 3.8)

Also I managed to install some weird "-uiscrcpy" package. Don't ask me how I did that. I cannot uninstall it because of t

[2020-02-10 19:17] srevinsaju commented on #45
@AmonBune seems like your pip packages are messed up completely.
try this
[code]
the way to run guiscrcpy is
[code]
you can do the above in any directory, it's not necessary to go to that folder.

PS: I don't know why exactly you are not able to run `guiscrcpy` only and make it run.
alternatively, if you prefer the exe compiled files, you can get it from the releases.

[2020-02-10 19:21] AmonBune commented on #45
![image](https://user-images.githubusercontent.com/15927695/74182085-ac455980-4c42-11ea-923a-3c4b07860624.png)
Nothing seems to work... I also never got a desktop or a start menu shortcut. Also not with version 1.x or 2.x. I'll try to uninstall python, pip and all packages and see if it behaves the same again or if it is fixed then.

[2020-02-10 20:10] srevinsaju commented on #45
@AmonBune, there is no need to uninstall pip, you can manually delete the folders

Go that directory where you went before, C:/users/.../../site-packages/ in your explorer, remove all the guiscrcpy and uiscrcpy files and then go for a clean install of guiscrcpy
https://pypi.org/project/guiscrcpy/
guiscrcpy · PyPI

Copy paste the code specified in the website, and then it should work.

[2020-02-10 20:10] srevinsaju commented on #45
Alternatively, try the exe also ;)

[2020-02-10 21:56] AmonBune commented on #45
@srevinsaju I can try the plain windows exe later.

#### Regarding pip:
I deleted all folders regarding guiscrcpy and the uiscrcpy stuff. I reinstalled and got the error:
`No module named guiscrcpy.__main__; 'guiscrcpy' is a package and cannot be directly executed`
![image](https://user-images.githubusercontent.com/15927695/74192924-c2f5ab80-4c56-11ea-8f9b-4b49e5a00b57.png)

And there is actually

[2020-02-12 21:23] probonopd opened #56 "AppImage is missing a library"
On Ubuntu 18.04: `python3: error while loading shared libraries: libpython3.8.so.1.0: cannot open shared object file: No such file or directory`. It needs to be bundled.

Reference:
https://github.com/AppImage/appimage.github.io/pull/1903

[2020-02-13 05:06] snbryrlh opened #57 "ImportError: Failed to initialize: Bad git executable."
[Windows 8] Just using Scrcpy about few weeks ago. And then just try yours yesterday and try the 1.11.0 ones and its works well. Can you tell me step by step installing the v3.0 one. I think I have several problems on it.

[2020-02-13 12:00] srevinsaju commented on #45
@AmonBune my mistake, I tested it again after removing all my installation on Windows, and it shows the same error
Fixed on https://github.com/srevinsaju/guiscrcpy/commit/11b5b2693c619f8dc847dce937dad9db35dc06a0

Thanks for finding that bug, it was a potential security fix on many devices including MacOS

[2020-02-13 12:31] srevinsaju commented on #45
@AmonBune I have made a package for you, you may test it, so I can push it to v3.1

[guiscrcpy-3.0.post17.dev0.tar.gz](https://github.com/srevinsaju/guiscrcpy/files/4198286/guiscrcpy-3.0.post17.dev0.tar.gz)

[2020-02-13 20:17] AmonBune commented on #45
I cannot install the tar.gz package on my machine. I uninstalled the existing guiscrcpy with pip uninstall guiscrcpy.

![image](https://user-images.githubusercontent.com/15927695/74474585-1c9fe500-4ea6-11ea-93bb-195176217d4a.png)

[2020-02-14 05:42] srevinsaju commented on #45
@AmonBune no need to extract the tar.gz,
do
[code]

[2020-02-14 17:43] AmonBune commented on #45
@srevinsaju In the window with the red error I tried just that. I just wanted to show that both methods don't work.

[2020-02-14 17:58] srevinsaju commented on #45
@AmonBune does
pip3 install https://github.com/srevinsaju/guiscrcpy/archive/master.zip work?

[2020-02-14 17:59] AmonBune commented on #45
@srevinsaju
![image](https://user-images.githubusercontent.com/15927695/74555467-0e140500-4f5c-11ea-8476-67869cc5c3e5.png)

[2020-02-14 18:28] srevinsaju commented on #45
I guess the last option is :
[code]

[2020-02-14 18:32] AmonBune commented on #45
Install works, but I get the same error as before :(
![image](https://user-images.githubusercontent.com/15927695/74557556-ac09ce80-4f60-11ea-89d5-f529671a4495.png)

[2020-02-14 18:59] srevinsaju commented on #45
@AmonBune try only `guiscrcpy`
if that fails too, please let me know,
for the sake of this issue, try
[code]

[2020-02-14 19:37] AmonBune commented on #45
@srevinsaju It works, but adb.exe and scrcpy.exe don't get shipped with the pip install.
![image](https://user-images.githubusercontent.com/15927695/74561841-b4b2d280-4f69-11ea-8d3e-96f63f9f4432.png)

[2020-02-14 20:07] srevinsaju commented on #45
yea, we have to manually download scrcpy release from https://github.com/Genymobile/scrcpy/releases , actually I am not supposed to add scrcpy.exe to the package as it's copyrighted.

does running `guiscrcpy` work now or did you use python -c .... that one?

[2020-02-14 20:08] AmonBune commented on #45
**guiscrcpy worked**. python -c ... did not work and threw some error

[2020-02-14 20:11] srevinsaju commented on #45
ok thanks for that, is the DPI error fixed too?

[2020-02-14 21:10] AmonBune commented on #45
@srevinsaju When I start up the application, everything is good:
![image](https://user-images.githubusercontent.com/15927695/74567242-9b178800-4f75-11ea-8a95-0a45538e3ea2.png)

But I can resize it a little bit too much. Just increase the min height a little bit here:
![image](https://user-images.githubusercontent.com/15927695/74567270-b4203900-4f75-11ea-88ca-2317ad9940b6.png)

I have to test the o

[2020-02-16 18:38] AmonBune commented on #45
@srevinsaju The sizing of the icons look good to me:
![image](https://user-images.githubusercontent.com/15927695/74610474-d17b1180-50f3-11ea-8315-2145f1c512e1.png)

[2020-02-16 18:51] srevinsaju commented on #45
Thanks for testing @AmonBune, I will close the issue with my open PR for version 3.2
Keep looking for more features,
wifi + automatic scrcpy installer (as suggested in your previous issue) + update checker

[2020-02-18 11:59] srevinsaju opened #60 "Create a proper documentation"

[2020-02-18 12:02] srevinsaju commented on #57
@snbryrlh thanks for using guiscrcpy, I will let you know everything when I release 3.2. Currently the method to install this on WIndows is a bit cumbersome. An new user might not know exactly how to fix it .

If you are interested in short:
* Download scrcpy
* download adb
* Add adb to PATH
* Add scrcpy to PATH
* Install guiscrcpy
* Run guicrcpy
* Enjoy

The first four steps should be automatical

[2020-02-19 12:51] tukusejssirs opened #62 "Building from Source (system-wide)"
**This is a issue for CentOS, the title has been modified to help future users**

I like your project very much! But I could not run it.

#### What I have done

1. I have built `scrcpy` from source. It runs successfully.
2. I have issued the following commands:

[code]

3. When I run `python3 guiscrcpy`, it fails:

[code]

---

Anyway, how could I build it from source? Could you give me the instru

[2020-02-19 12:52] srevinsaju commented on #62
Yup, you missed an installation step,

[code]

[2020-02-19 13:39] tukusejssirs commented on #62
@srevinsaju, I thought that `pip3 install guiscrcpy` is another way to install `guiscrcpy`.

Anyway, the `pip3 install guiscrcpy` command said that all requirements were already satisfied. Therefore it was not needed. (Note that I have installed the dependencies manually using `pip3`, see the OP).

After running `python3 setup.py install`, I tried to run `python3 guiscrcpy` again, but I get simila

[2020-02-19 13:41] srevinsaju commented on #62
Seems like you haven't followed the right path to install the packages:

The installation for guiscrcpy is short
[code]

The problem is the conflicting
[code]
items you have installed, python3-qt5 is not the correct Qt we want here,
The PyQt5 pip package is different from the RPM, so maybe thats the reason

[2020-02-19 13:42] srevinsaju commented on #62
And also the right way to execute is
[code]
or
[code]

[2020-02-19 13:45] srevinsaju commented on #62
After doing a quick search, I found the source of your problem @tukusejssirs
It is because python2-qt5 is outdated on CentOS
The package currently available is 5.11

The current version is 5.14, and sip came in only later.
I suggest you to remove the python3-qt5 and then do
[code]
and then finally
[code]
The official python version guiscrcpy is looking forward is python 3.8, but in the OP you have

[2020-02-19 13:50] srevinsaju commented on #62
and I would be happy to help you, to know why
[code]
failed on your system

[2020-02-19 14:03] tukusejssirs commented on #62
I want to _build_ `guiscrcpy` at all costs. :smiley: And I don’t want to create a RPM package, but to build it and use it.

Yes, I use `python36`, because that is the latest version officially provided for CentOS 8.

---

` failed on your system

Here you go:

<details>
   <summary><code>python3 -m pip install -r requirements.txt</code></summary>

[code]
</details>

---

Both fail even after remov

[2020-02-19 15:55] tukusejssirs commented on #62
Okay, I have install Python 3.8.1 from source using [this guide](https://computingforgeeks.com/how-to-install-python-on-3-on-centos/).

Then I have cleaned the repo and run `python -m pip install -r requirements.txt` (note I have symlinked `python38` to `python` and `pip38` to `pip`). Here is the error (output is the same with or without `sudo`):

<details>
   <summary><code>python -m pip install

[2020-02-19 16:47] srevinsaju commented on #62
@tukusejssirs can you send me your `neofetch` so I too can test it on CentOS?

[2020-02-19 17:06] tukusejssirs commented on #62
Here you go:

[code]

---

Of course, the `--user` works. Note that I have previously installed all the requrements manually (i.e. without redirecting the contents of `requirements.txt`).

[code]

[2020-02-19 17:07] srevinsaju commented on #62
@tukusejssirs are you on IRC/Discord, where I can help you out realtime?

[2020-02-19 17:23] tukusejssirs commented on #62
Okay, I’ve create a Discord account, https://discord.gg/HnxvGr.

I have removed them, now waiting for `pip` to finish the installation of the dependencies (`python -m pip install -r requirements.txt`).

[2020-02-19 17:27] srevinsaju commented on #62
[code]
Other wise we will fall back to the same error as previous

[2020-02-19 19:00] tukusejssirs opened #63 "Trebuchet fonts should be installed"
Tasks
- [ ] Add a note on how to install the fonts in the docs;
- [ ] Make the ‘moving handle’ output the way it should (see screenshot below)

---

I tried to install the fonts using the following commands, but it does not work.

[code]

![Screenshot from 2020-02-19 19-42-48](https://user-images.githubusercontent.com/5111894/74866015-008ac080-534a-11ea-8708-5942bf0747a1.png)

[2020-02-19 19:02] tukusejssirs commented on #60
#### Tasks

Add notes on
- [ ] how to build the program for current user;
- [ ] how to build the program system-wide;
- [ ] how to install fonts (it should be done by the build script; see #63);

[2020-02-19 19:05] tukusejssirs opened #64 "Add an option to select which device should be connected to"
When multiple devices are connected to the computer, the user should be able to select a specific device. One might want to connect to multiple devices at the same time, therefore it might be a good idea to manage this situation too (e.g. `guiscrcpy` should be able to create multiple `adb` servers).

[2020-02-19 19:09] tukusejssirs opened #65 "Add an option to select the connection type (wired or wireless)"
One might want to connect to the phone by USB cable, others might want to connect wirelessly. Let the users choose the connection type. Please keep in mind that if the users can connect to multiple devices (see #64), you should let the users choose the connection type per device.

[2020-02-19 19:55] tukusejssirs commented on #62
@srevinsaju, FYI, I fixed the issue with the Python libraries with discussed at Discord, using `export PYTHONPATH="$PYTHONPATH:/opt/lib/python3.8/site-packages"`. More specifically: in order to add the path only once and thus I could add it into my `.bashrc`:

[code]

[2020-02-19 19:58] tukusejssirs opened #66 "Create a python wrapper"
When installed, it might be a good idea to create some kind of wrapper that the user could simply run `guiscrcpy` instead of `python guiscrcpy`.

[2020-02-21 00:12] #40 closed

[2020-02-21 17:04] #45 closed

[2020-02-22 15:00] yochananmarqos opened #67 "scrcpy window not launching with 3.2"
With the previous commit it worked, now it does not after updating to 3.2. There are no errors and the `scrcpy` process is running.

[2020-02-22 15:02] srevinsaju commented on #67
@yochananmarqos Could you share me your logs (in terminal) and those in `~/.config/guiscrcpy`

[2020-02-22 15:05] yochananmarqos commented on #67
The only logs I have there are from January 28th & 29th. Again, there are no errors in the terminal. Running `scrcpy` on it's own works fine.

[2020-02-22 15:11] srevinsaju commented on #67
Can you send me your configuration file?

[2020-02-22 15:14] yochananmarqos commented on #67
I tried deleting it and let it regenerate with no difference.

[code]

[2020-02-22 15:16] srevinsaju commented on #67
@yochananmarqos try changing `"cmx"` to `""`

[2020-02-22 15:21] yochananmarqos commented on #67
That worked, thanks!

[2020-02-22 15:21] #67 closed

[2020-02-22 15:21] srevinsaju commented on #67
@yochananmarqos I have createda commit https://github.com/srevinsaju/guiscrcpy/commit/576ce7d3dbd2de157bd78e305a45f267b79f2960 but I would prefer not releasing it to the AUR, rather, `guiscrcpy-beta` or `guiscrcpy-dev` would be a better or rather not releasing it

The current plan of my release would be
`3.1` (stable)
`3.2` (unstable)
`3.3` (stable)
`3.4` (unstable)
`3.5` (stable)
`3.6` (unstable)

[2020-02-22 15:23] yochananmarqos commented on #67
Alright. Just mark the unstable releases as pre-releases on GitHub like you have been.

[2020-02-22 15:24] srevinsaju commented on #67
Sure,
PS: will you be creating `-beta` on the AUR?

[2020-02-22 15:25] yochananmarqos commented on #67
No, there's already `guiscrcpy-git` so there wouldn't really be much point.

[2020-02-22 15:26] srevinsaju commented on #67
Ok, thanks

[2020-02-25 15:13] srevinsaju commented on #66
@tukusejssirs, its already implemented. May I know what happens when you type just `guiscrcpy` provided `guiscrcpy` exists on PATH?

[2020-02-25 15:28] srevinsaju commented on #62
@tukusejssirs Please review [Wiki](https://github.com/srevinsaju/guiscrcpy/wiki). I have updated it

[2020-02-25 15:36] srevinsaju commented on #57
@snbryrlh any help needed?

[2020-02-27 09:56] WahyuKuncoro commented on #57
@srevinsaju i got problem when trying to run 3.0. i have all requirement. adding `scrcpy` to path, using 'pip3 install guiscrcpy==3.0 --user' to install, and running the executable, but i got this error

`C:\Users\Wahyu>guiscrcpy
Traceback (most recent call last):
  File "site-packages\git\__init__.py", line 83, in <module>
  File "site-packages\git\__init__.py", line 73, in refresh
  File "site-p

[2020-02-27 10:11] srevinsaju commented on #57
@WahyuKuncoro
What does
[code]
do?

[2020-02-27 10:19] WahyuKuncoro commented on #57
@srevinsaju here's after `pip3 install https://github.com/srevinsaju/guiscrcpy/archive/master.zip`

Collecting https://github.com/srevinsaju/guiscrcpy/archive/master.zip
  Downloading https://github.com/srevinsaju/guiscrcpy/archive/master.zip
     / 3.1 MB 63 kB/s
Requirement already satisfied: PyQt5==5.14.1 in c:\users\wahyu\appdata\local\programs\python\python37\lib\site-packages (from guiscrcpy

[2020-02-27 10:34] srevinsaju commented on #57
@WahyuKuncoro
try
[code]

[2020-02-27 11:08] WahyuKuncoro commented on #57
@srevinsaju thanks man, i now its working

[2020-02-27 11:09] srevinsaju commented on #57
Ok @WahyuKuncoro , the error was mentioned here https://github.com/gitpython-developers/GitPython/issues/816 for your reference
Hope you like guiscrcpy

[2020-03-07 16:24] m4heshd opened #72 "ModuleNotFoundError: No module named 'pkg_resources.py2_warn'"
Following error occurs whenever i try to run the downloaded exe build.

![image](https://user-images.githubusercontent.com/6711514/76146972-f5f85700-60bd-11ea-99f3-bdf20d506bf7.png)

Is there something I'm missing? Been using `scrcpy` for a long time and it works fine.

[2020-03-10 00:13] #42 closed

[2020-03-10 12:09] scrakcho opened #73 "Windows EXE fail on install_fonts script"
![Sin título](https://user-images.githubusercontent.com/6636661/76311077-6b3b7600-62d0-11ea-9ebd-b2e4f8e950bc.png)

[2020-03-12 19:02] srevinsaju commented on #73
Thanks, is this 3.3 or 3.4?

[2020-03-13 08:18] scrakcho commented on #73
Is the last 3.4 (pre) EXE available for download, i have tried to download a preview version but the artifacts same to be removed so...
scrcpy -> 1.12.1
guiscrcpy -> 3.4

[2020-03-13 14:59] karousn commented on #13
Firstly thank you for this project,
Can you give us an example how we can define a key mapping to do some event on scrcpy screen ?
in video or gif animation it will be perfect.

[2020-03-13 15:05] srevinsaju commented on #13
@karousn I may not be able to give full video of it afaik, maybe these steps might be helpful
* Connect your device
* Type
[code]
in your terminal
* If everything goes successful, you should see your phone screenshot
![image](https://user-images.githubusercontent.com/48695438/76632952-06dd1880-6555-11ea-92de-95a1983a5516.png)
* Follow the on screen instructions
* Close the window, now open guiscrc

[2020-03-13 15:24] karousn commented on #13
thank for the fast response.
I am not familiar with python script so i need some help in that.
To execute : *guiscrcpy* or *guiscrcpy-mapper* i have a problem with PyQt5.sip `No module named 'PyQt5.sip'`
for guiscrcpy i can executed with `python3 -m guiscrcpy` but i can't do the same with guiscrcpy-mapper
in stackoverflow i see this : https://stackoverflow.com/a/59712128

[2020-03-13 15:45] srevinsaju commented on #13
@karousn we have a discord channel https://discord.gg/TyhR3B for guiscrcpy related issues. I can help you out in details, there
Maybe your default Python is 2.7
What does
[code]
give?

[2020-03-13 15:57] karousn commented on #13
python3 -V : Python 3.8.2
python -V : Command 'python' not found
Btw, using python3 scripts/guiscrcpy-mapper i am able to see the key mapper and it generate a json file called guiscrcpy.mapper.json on .config/guiscrcpy so for me i can start prepare a file to my need but i need an example.
using the guiscrcpy mapper i have this message error:
`Lets Check
Traceback (most recent call last):
  File "/

[2020-03-13 16:03] srevinsaju commented on #13
Thanks, Seems like your device is using a Override resolution. This doesn't work, I will need to add that feature too. Thanks for finding this out.

[2020-03-13 16:03] srevinsaju opened #74 "Touch Mappings port to Override Size repos"
python3 -V : Python 3.8.2
python -V : Command 'python' not found
Btw, using python3 scripts/guiscrcpy-mapper i am able to see the key mapper and it generate a json file called guiscrcpy.mapper.json on .config/guiscrcpy so for me i can start prepare a file to my need but i need an example.
using the guiscrcpy mapper i have this message error:
`Lets Check
Traceback (most recent call last):
  File "/

[2020-03-13 16:07] srevinsaju commented on #13
@karousn For your reference
This is a sample config file for the mapper json
[code]

The S key corresponds to the position x=296 and y=357
The K key correspondds to 652, 417
etc

[2020-03-16 04:35] srevinsaju commented on #73
Thanks for the information. Does the exe work after manually installing Titillium Web Font from Google Fonts

 https://fonts.google.com/specimen/Titillium+Web
Titillium Web - Google Fonts

[2020-03-16 04:39] srevinsaju commented on #73
Does the guiscrcpy.exe work from version 3.3, (3.5 is still a work in progress and may go buggy, and 3.4 is a development release. 3.3 is the stable tested version)

[2020-03-16 04:40] srevinsaju commented on #72
May I know which version is this? To my knowledge, I have fixed it in v3.4 (pre) and forward versions.

[2020-03-16 07:23] scrakcho commented on #73
Hi @srevinsaju ,

Sorry about my news but the 3.3 dont work and installing the Google Fonts (Titillium Web) not helped (I have tryed to install the fonts with the right mouse button and option install... but what logic have this fonts with the temp and random folder that the instaler search?)

[2020-03-16 07:26] srevinsaju commented on #73
@scrakcho I cannot understand the language in your log. Which is your native language.
PS: Does the PYPI (pip) package work for you

[2020-03-16 10:10] scrakcho commented on #73
Spanish, basically the log say that the path cant be found C:\.......\Temp\_MEIxxxxxx\guiscrcp\ui\fonts

[2020-03-16 10:17] srevinsaju commented on #73
@scrakcho the logs look like you are not using version 3.3.
If you are using version 3.3, you are probably likely to get another Traceback,
If you know Python, here is 3.3's code:
https://github.com/srevinsaju/guiscrcpy/blob/6e4bdc8d6aa60254177c138121b39c670a540733/guiscrcpy/platform/windows.py#L20-L54

As you can see, there is no `install_font` here in version 3.4 and 3.5
https://github.com/srevi

[2020-03-16 16:21] JimWu1987 commented on #64
Hi,
I need to control mutiple cellphones with my laptop at the same time. So I too wish there is an option to select which device should be connected to.

[2020-03-16 17:12] srevinsaju commented on #64
Thanks for showing your interest in guiscrcpy

@JimWu1987, will surely consider this when version 3.5 is released

[2020-03-17 06:26] JimWu1987 commented on #64
Hi,
I'm so happy to hear that!
Thanks!
Jim

Jim806646984@outlook.com

From: Srevin Saju
Date: 2020-03-17 01:13
To: srevinsaju/guiscrcpy
CC: Jim Wu; Mention
Subject: Re: [srevinsaju/guiscrcpy] Add an option to select which device should be connected to (#64)
Thanks for showing your interest in guiscrcpy
@JimWu1987, will surely consider this when version 3.5 is released
—
You are receiving this beca

[2020-03-17 15:21] scrakcho commented on #73
![Sin título](https://user-images.githubusercontent.com/6636661/76871446-5b410a80-686b-11ea-9de9-2bcb2f95015a.png)

[2020-03-20 06:51] karousn commented on #74
any news about this ?

[2020-03-23 06:55] scrakcho commented on #73
Hello @srevinsaju , any news about that?

[2020-03-23 11:37] srevinsaju commented on #73
@scrakcho I have pushed the commit https://github.com/srevinsaju/guiscrcpy/commit/7db8ed04f0d01d8d857b357d3df2500e8266691f

[2020-03-23 11:41] srevinsaju commented on #73
@scrakcho try this out and let me know https://github.com/srevinsaju/guiscrcpy/suites/540351218/artifacts/3255283

[2020-03-25 08:04] scrakcho commented on #73
Now with the last .EXE work!
Thanks! ;)

[2020-03-25 08:04] #73 closed

[2020-03-26 11:27] ricjonsu098 opened #75 "FileNotFoundError v3.4"
Hi, I encountered this error when running the 3.4 pre version. I already added scrcpy to the env variables

![image](https://user-images.githubusercontent.com/35645526/77641900-c25f6d00-6f97-11ea-81e7-7a92bc067960.png)

[2020-03-26 11:46] srevinsaju commented on #75
@ricjonsu098  Thanks, this is a known issue with v3.4. Please use stable 3.3 and let me know if it works

[2020-03-26 12:05] ricjonsu098 commented on #75
with stable 3.3 I get the issue #72

[2020-03-26 12:06] srevinsaju commented on #75
@ricjonsu098 Is it fixed by this exe ?https://github.com/srevinsaju/guiscrcpy/suites/540351218/artifacts/3255283

[2020-03-26 12:07] srevinsaju commented on #72
v3.3. Fixed exe here: https://github.com/srevinsaju/guiscrcpy/suites/540351218/artifacts/3255283

[2020-03-26 12:19] srevinsaju commented on #75
@ricjonsu098 i have released [3.3.1](https://github.com/srevinsaju/guiscrcpy/releases/3.3.1) with the same link. Thanks for pointing it out again

[2020-03-26 12:20] srevinsaju commented on #72
@m4heshd  i have released [3.3.1](https://github.com/srevinsaju/guiscrcpy/releases/3.3.1) with the same link. Thanks for pointing it out again

[2020-03-26 12:22] srevinsaju commented on #74
@karousn Maybe I will finish that by this weekend. I apologize for the delay

[2020-03-26 12:35] ricjonsu098 commented on #75
Works great now. Thanks for the great support!

[2020-03-26 13:56] srevinsaju commented on #74
@karousn I fixed the mapper, can you please test it?

[2020-03-26 13:58] srevinsaju commented on #63
Fixed on #69

[2020-03-26 13:58] #63 closed

[2020-03-26 13:59] #57 closed

[2020-03-26 17:25] #66 closed

[2020-03-28 09:12] karousn commented on #74
The last tag i can get it is 3.4 so i try it and i have this message:
Waiting for device
Device : OK!
['1440', '2960\nOverride size']  DIMENSIONS
LOG: Key:Pos JSON Configuration file found in  /home/user/.config/guiscrcpy/  directory
KEY:A {'key': [], 'pos': []}
[SERVER] LISTENING VALUES: Your keys are being listened by server.
{'key': [], 'pos': []}

[2020-03-28 09:13] srevinsaju commented on #74
@karousn can you try out https://github.com/srevinsaju/guiscrcpy/commit/2583d1f3d59295fe7d7e49f98ccaf1d76bb2fa70

[2020-03-28 15:34] karousn commented on #74
To do the test i do:
[code]
When i try to use guiscrcpy directly in any folder i have  `ModuleNotFoundError: No module named 'PyQt5.sip'`  as message error so i use `python -m guiscrcpy` or `python scripts/guiscrcpy`
before that i activate the Pointer location on my phone to see the coordination of my click, and i modify the json keymapper file directly and i restart my guiscrcpy after that in eac

[2020-03-28 15:39] srevinsaju commented on #74
I will have to use scrcpy's fast adb shellinput's but i have 0 Java background, am still 17 lol

[code]
Hope this would work
You can check
[code]
to see the possible options.
Every time you remove the json file, the mapper is reseted to the original values

[2020-03-30 16:49] karousn commented on #74
by curiosity witch lib java you will use to accelerate the send of the event action to the phone ?

[2020-03-30 17:09] srevinsaju commented on #74
I have to use scrcpy's scrcpy-server Input.java to create a socket to pass she'll input events. The current adb shell input does a lot of checos, for eg: check if device is connected, copy the process to mobile, start an Android server daemon, and then run the process and then wait for the process to finish on Android and then send the complete signal to the PC. This is quite complicated and takes

[2020-04-06 11:42] #75 closed

[2020-04-06 12:08] #74 closed

[2020-04-06 12:09] srevinsaju commented on #74
Closed by [3.5](https://github.com/srevinsaju/guiscrcpy/releases/tag/3.5)

[2020-04-06 12:10] srevinsaju commented on #72
Closed by [3.5](https://github.com/srevinsaju/guiscrcpy/releases/tag/3.5)

[2020-04-06 12:10] #72 closed

[2020-04-08 05:36] Gallie2k opened #78 "Windows 10 64Bit - Issue"
Hi,
Downloaded guiscrcpy yesterday 3.5v Beta Windows.exe and also manually downloaded scrcpy-win64-v1.21.1, I put the guiscrcpy inside the same folder and added it to my Enviroment Variables (User Path), i have tried running it as administrator and also through CMG this is the error it is saying.
//////////////////////////Start\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
D:\Desktop\Scrcpy>guiscrcpy.exe
No conda

[2020-04-08 05:38] srevinsaju commented on #78
Thanks, this is an issue with GitPython,
Here is another user who had this problem and the solution to solve this https://github.com/srevinsaju/guiscrcpy/issues/57#issuecomment-591899120

[2020-04-08 06:26] Gallie2k commented on #78
Hi,

Thanks for the update on the other link.....but that still didnt work once i found Git online and installed it aswell as setting the directory it now works fine (it does not mention anywhere that i had to install Git for this to work so might be worth updating the windows guide

[2020-04-08 06:32] srevinsaju commented on #78
thanks, I will update the wiki. I apologize for that error, I guess its causing a lot of problems for other windows users too. I will fix that in 3.6

[2020-04-08 06:36] Gallie2k commented on #78
Great thanks for your very quick help and this program is great! so thanks again for the work you are all doing to develop the software

[2020-04-08 06:36] #78 closed

[2020-04-11 19:21] cameel opened #80 "Crash on startup if ~/.local/share/applications/ does not exist"
Hello, I encountered a small issue while trying out the application on Linux. Fortunately it seems pretty easy to solve. Details below.

When I launch the application, it crashes immediately:
[code]

Apparently, it tries to open `~/.local/share/applications/guiscrcpy.desktop` for writing while the directory it's supposed to be in does not exist. Assuming that any particular directory in user's hom

[2020-04-11 19:35] cameel opened #81 "Wrong screen orientation on devices where landscape is the default"
I tried using guiscrcpy on [Gemini PDA](https://en.wikipedia.org/wiki/Gemini_(PDA)) but I'm running into a problem where the content of the screen is displayed sideways, in portrait orientation while the device itself is displaying it in landscape (which is its normal orientation).

![guiscrcpy-on-gemini-pda-landscape-displayed-in-portrait](https://user-images.githubusercontent.com/137030/79053376

[2020-04-11 20:05] srevinsaju commented on #80
@cameel, thanks for the information.
I would like to know some information:
* which Linux distribution are you using (Arch Linux?)

regarding installing the file to ~/.local/share/applications, many people complained to me, that, they need a desktop launcher. assuming you are using Arch Linux, you might not know that, there is not no one interested in packaging `guiscrcpy` for other Linux distribu

[2020-04-11 20:07] srevinsaju commented on #81
Thanks. Interesting. I would check it out with @rom1v and let you know. its quite late on my timezone 💤😴, I will let you know tomorrow

[2020-04-11 20:57] cameel commented on #81
Sure, it isn't really urgent. I'm not expecting you to lose sleep over it :) Thanks for developing the app and releasing it as open source to begin with. It would be nice to have this issue fixed but I can work around it by launching multiple instances and closing the first one so please take your time.

[2020-04-11 21:05] yochananmarqos commented on #80
I agree with asking the user if they want a desktop file created on first run. There are quite a few other applications that do that as well.

[2020-04-11 21:50] cameel commented on #80
Yes, I'm on Arch Linux.

Oh, so your primary method of distribution is a python wheel? Sorry, I thought you're relying on packages or installers. In that case I think you can handle the shortcuts in `setup.py`.

As to whether to ask the user - I definitely would not ask about the menu shortcut (the file that goes into `share/applications`) - because, at least on Linux, I think it's expected that y

[2020-04-11 22:51] cameel opened #82 "Installing menu shortcuts via setup.py rather than on first run"
I originally mentioned the shortcuts in #80 but they were only tangentially related to that issue (a crash) so I'm creating a new one. By the way, I'm posting it mainly because I see an easy and elegant solution but please don't bother with it if it turns out to be more complicated than this. The shortcuts are not really all that important.

### Shortcuts
Currently the application on Linux creates

[2020-04-11 22:53] cameel commented on #80
@srevinsaju @yochananmarqos Here's the issue that explains my proposed solution for shortcuts in more detail #82.

But like I said there - it's not such a big deal. The crash is more important :)

[2020-04-12 07:44] srevinsaju commented on #82
Thanks. your code snippet looks good. I had tried other stuff on the setup.py before, but most of them didn't end up in the wheel (the python binary distribution), because, the wheel marking follows a complicated procedure within itself. However, the current code snippet looks really genuine to me, and I guess it will work. I will test it shortly and let you know.

For Linux, here is what I think

[2020-04-12 11:41] thebigsmileXD opened #83 "Readme badges all link to their corresponding image"
It is not possible to actually click the badges to download the releases ;)

[2020-04-12 12:58] #83 closed

[2020-04-12 13:00] srevinsaju commented on #83
Thanks a lot @thebigsmileXD . I didn't notice that. And I did not expect anyone to press those, and though my project was indeed dumb XD. Thanks for taking interest in guiscrcpy.

[2020-04-12 23:31] yochananmarqos commented on #80
@cameel By the way, you never did say how you installed `guiscrcpy`. One of the AUR packages or with Pip?

[2020-04-13 01:46] probonopd commented on #56
Maybe this would be a good candidate for https://github.com/niess/python-appimage#for-applications-developers @niess?

[2020-04-13 11:38] niess commented on #56
The user install with a Python AppImage seems to work:

[code]
It starts the GUI and complains that adb and scrcpy are not found (I didn't install them indeed). Note however that this is not an isolated install. For example, the exe are installed in .local/bin whatever the Python version which can lead to troubles when using several versions of Python.

Installing to the extracted image seems to w

[2020-04-13 11:42] srevinsaju commented on #56
Thanks @niess for the quick response.

[code]

[2020-04-13 14:16] cameel commented on #80
I used your PKBGUILD from AUR: https://aur.archlinux.org/packages/guiscrcpy/

[2020-04-13 14:26] cameel commented on #82
OK. Sounds reasonable.

BTW, the snippet comes from the SO post I linked to, so you should actually credit the author of the post. But, honestly, only a single line is relevant and you'll need to modify it anyway so if I were the author I wouldn't be upset about not being credited for something like this :)

[2020-04-13 15:09] niess commented on #56
@srevinsaju Indeed after uninstalling GitPython as:

[code]
it works :) At least the GUI starts and prompts for `scrcpy` location.

Yet, there is this warning message: `WARNING:root:GitPython not installed. Fallback to pip3 version reading` which might be a bit confusing for end users. In addition,  users might already have GitPython installed in there user space (`--user`) in which case the start

[2020-04-13 15:09] srevinsaju commented on #82
I would add the SO link to the setup.py if I use it. I haven't tested on WIndows yet. Will let you know soon. :)

[2020-04-13 16:12] srevinsaju commented on #56
@niess, Thanks for confirming this.

I have pushed a commit to `master` regarding this on a8da37197361f7d2ac07e2470c1c67a8c08b96ca .

Interesting. Thanks. I have not yet tried a `system-wide` installation of guiscrcpy, as all of my mentors warn me not to use `pip` with `sudo`. Maybe, it might be fixed by a8da37197361f7d2ac07e2470c1c67a8c08b96ca.

I did not understand what `relocatable` is.
Does th

[2020-04-14 16:25] yochananmarqos commented on #80
@cameel I just removed `python-pyshortcuts` as a dependency, I forgot it was unneeded. Please update `guiscrcpy`, remove `python-pyshortcuts` and see if it still happens.

[2020-04-14 18:21] cameel commented on #80
Updated. It does not crash.

But I wonder why. The line is still there and there wasn't anything related to `python-shortcuts` in the traceback.

But yeah, looks like your change fixed it for me, so I can get rid of my local patch. Thanks!

[2020-04-14 19:44] niess commented on #56
@srevinsaju @probonopd I put a preliminary version of the guiscrcpy AppImage [over there](https://github.com/niess/linuxdeploy-plugin-python/releases/download/test/guiscrcpy-x86_64.AppImage). Is this OK for you?

It was simply generated by extracting an existing Python 3.8 AppImage and pip installing to it. Note that I did not update the meta data for now, e.g. the desktop file etc.

[2020-04-14 19:55] srevinsaju commented on #56
Thanks @niess. I will check after 8hrs; its quite late in my part of the world 😇. I will let you know when I fix the rest of the GitPython bugs, permanently.

[2020-04-14 21:05] Flight-X opened #84 "permission denied"
**when i execute the cmd guiscrcpy**
[code]

[2020-04-15 04:47] srevinsaju commented on #84
@Flight-X How did you install guiscrcpy? Did you install it as a snap?

[2020-04-15 05:01] srevinsaju commented on #56
@niess I have tested the AppImage. The GUI starts, but I am not able to see my devices connected on adb. And also, adb is found by guiscrcpy. Is it that, the adb AppImage will not be able to access the devices connected to usb ports / LAN.?

[2020-04-15 07:55] hendikawp opened #85 "guiscrcpy ~ mapper is not initialized"
[code]

when i write this command to terminal : guiscrcpy-mapper -r

i got this
[code]
how to fix??

[2020-04-15 08:04] srevinsaju commented on #85
Remove everything in `~/.config/guiscrcpy/*` and then,
If `~/.config/guiscrcpy/` doesn't exist, create that folder

* connect your device
* run guiscrcpy
* check if you can start your device and view your screen
* close guiscrcpy
* Keep your mobile on, and go to the app you would like to map the points,
* run `guiscrcpy-mapper`
* you should now see a window with your phone's screenshot
* follow th

[2020-04-15 08:32] niess commented on #56
@srevinsaju I did not understand. Is `adb` found or not? Note also that `adb` is not bundled in this AppImage. It only contains Python 3.8 and `guiscrcpy` with its Python deps, namely `PyQt5`.

There is no isolation in this AppImage. It mounts to `/tmp` at startup. So it sees your native system and reciprocally the native system sees it. In a temporary location though.

[2020-04-15 09:27] srevinsaju commented on #56
yea, ADB is found in the AppImage. but my devices cannot be detected by the adb. I am not sure why. If I extract the AppImage, I am able to detect the adb. @niess, are you able to mirror your mobile screen using guiscrcpy?

[2020-04-15 10:54] srevinsaju commented on #56
@niess , I got a new error, I were trying to debug why the AppImage fails to do screen mirroring
[code]

[2020-04-15 11:00] hendikawp commented on #85
i got this

LOG: Detected a Linux Operating System ::  5.4.0-21-generic #25-Ubuntu SMP Sat Mar 28 13:10:28 UTC 2020
[  6%] /sdcard/scr.png
[ 13%] /sdcard/scr.png
[ 20%] /sdcard/scr.png
[ 26%] /sdcard/scr.png
[ 33%] /sdcard/scr.png
[ 40%] /sdcard/scr.png
[ 46%] /sdcard/scr.png
[ 53%] /sdcard/scr.png
[ 60%] /sdcard/scr.png
[ 67%] /sdcard/scr.png
[ 73%] /sdcard/scr.png
[ 80%] /sdcard/scr.png
[ 87%] /

[2020-04-15 11:02] srevinsaju commented on #85
Thanks @hendikawp . Looks interesting. Which OS are you using?

[2020-04-15 11:12] hendikawp commented on #85
+++++++++++++++++++++++++++++++++++++++
guiscrcpy ~ mapper by srevinsaju
=======================================
Make sure that your device is turned on, and connected to your PC
With USB debugging turned on.
+++++++++++++++++++++++++++++++++++++++
Waiting for device
Device : OK!
LOG: Initializing guiscrcpy.mapper() for first time use...
LOG: Key:Pos JSON Configuration file created in  /home/decka

[2020-04-15 11:15] hendikawp commented on #85
![scr](https://user-images.githubusercontent.com/63694567/79331201-06191700-7f45-11ea-949c-f94ac9a62226.png)
screenshoot is corrupted

[2020-04-15 11:19] srevinsaju commented on #85
Thanks.

I suppose, you should try it again after removing the files. The screenshot taken by the device can be corrupted at times when using a graphic intensive game.

In case, re initializing `guiscrcpy-mapper` doesn't work, then , try taking a screenshot on your mobile of the PubG game, and then open it in your mobile gallery. Then run `guiscrcpy-mapper` after deleting the files. It should work

[2020-04-15 11:38] hendikawp commented on #85
i try again with open config button in pubg, guiscrcpy-mapper succes, i dont know why

how to map right clight n left click?

[2020-04-15 11:52] hendikawp commented on #85
![scr](https://user-images.githubusercontent.com/63694567/79334264-2697a000-7f4a-11ea-984b-1ac9e8958c96.png)

but still cannot map my key Lol
this app very recomended, no lag

[2020-04-15 11:54] srevinsaju commented on #85
I apologize. `guiscrcpy` only supports keyboard mapping, i.e, making use of letters only. I still didn't learn how to handle mouse button actions. Hope you enjoy guiscrcpy

[2020-04-15 11:57] hendikawp commented on #85
thanks for your attention
thanks for your support

[2020-04-15 11:57] #85 closed

[2020-04-15 15:45] niess commented on #56
@srevinsaju There was a bug in `python-appimage` resulting in the shebang scripts of upgraded packages not being properly pruned. It should be solved now. I updated the `guiscrcpy` AppImage as well, still [over there](https://github.com/niess/linuxdeploy-plugin-python/releases/download/test/guiscrcpy-x86_64.AppImage).

Yet this will not solve your issues related to `adb`. Does `adb` work with the

[2020-04-15 18:37] Flight-X commented on #84
yes sir i did it from snap

[2020-04-15 18:53] srevinsaju commented on #84
@Flight-X, unfortunately the snap is having a lot of problems and no one is actively working on the snaps.

Why don't you try:
[code]

[2020-04-15 19:01] Flight-X commented on #84
yess sir i doing it....

[2020-04-15 19:03] Flight-X commented on #84
@srevinsaju
sir i got this
`ollecting guiscrcpy
  Downloading https://files.pythonhosted.org/packages/e3/1b/1a323892550b3c1914fa6bd4f16419b6c17e8c325243dfe445e42a998285/guiscrcpy-3.5-py3-none-any.whl (1.5MB)
    100% |████████████████████████████████| 1.5MB 252kB/s
Collecting gitpython (from guiscrcpy)
  Downloading https://files.pythonhosted.org/packages/19/1a/0df85d2bddbca33665d2148173d3281b290a

[2020-04-15 19:15] niess commented on #56
@srevinsaju I finally managed to install `adb` a `scrcpy`. I had to enable testing repositories that for. I am using Debian 9. On my side the updated AppImage of `guiscrcpy` seems to work fine. I can control my Android tablet from the PC. Its great by the way :)

Does it still fail for you? What Linux do you use?

[2020-04-15 19:17] srevinsaju commented on #84
@Flight-X are you using Linux or windows? If you are using Linux, which distribution are you using?

[2020-04-15 19:25] srevinsaju commented on #56
Thanks @niess. I had tested the first link to the AppImage and not the second link. My linux distribution is Arch Linux. I will check out the second AppImage once again tomorrow, (after 8hrs). I tested the first AppImage twice, and it did not work as expected, meaning, the GUI starts, but not the `scrcpy`'s window.

[2020-04-15 19:27] Flight-X commented on #84
@srevinsaju sir linux mint

[2020-04-15 19:30] niess commented on #56
Fine. I didn't change anything except the shebang of `guiscrcpy`. So you will likely have the same problems :(

Good Night! :)

[2020-04-16 04:44] srevinsaju commented on #84
[code]
Please run this, and then try
[code]

[2020-04-16 05:08] Flight-X commented on #84
Now i got this
[code]

[2020-04-16 05:10] srevinsaju commented on #84
[code]
and may be try again.

Thanks, it had never happened to me

[2020-04-16 05:43] Flight-X commented on #84
@srevinsaju
sir
Now I got this with simple user privileges
pip3 install guiscrcpy --user
[code]
With sudo
sudo pip3 install guiscrcpy --user
[code]

[2020-04-16 08:06] srevinsaju commented on #84
[code]
I am not sure why this is happening @Flight-X, maybe this will work. Please let me know. You may also like to join discord chat https://discord.gg/RfpWJG

[2020-04-16 10:48] srevinsaju commented on #56
@niess , I have found the error. The AppImage works under a certain condition. This might be a bug in your AppImage making script, but I am not sure why exactly it happens.
* If the version of guiscrcpy is not installed / is of different version, the AppImage crashes.
I am working on 3.7 right now. The AppImage you have built is of 3.5. As I test 3.7, I have an installation of 3.7 on by `~/.local/

[2020-04-16 11:17] espirialo5 commented on #84
how can i run the exe in windows 32 bit 😪

[2020-04-16 11:18] srevinsaju commented on #84
I have stopped support for 32 bit due to dependency limitations.

[2020-04-16 11:49] niess commented on #56
@srevinsaju Python packages installed with `--user` (i.e. under `~/.local` on LInux) have higher priority over system ones. This is the usual Python behaviour. It implies that when your `guiscrcpy` script imports the `guiscrcpy` package it loads the user one, not the AppImage one. In the case of a Python based app this migt be problematic indeed. I didn't realize this so far because I have nothing

[2020-04-16 11:53] srevinsaju commented on #56
Thanks @niess .
Another user came in trying to run `guiscrcpy` on Linux Mint, with no supported packages for their system, and they were benefited by this AppImage, Another user have tested it on Linux Mint and it works out of the box. Thanks a lot.

What next can I do for this? like testing or something.

[2020-04-16 12:09] srevinsaju commented on #56
@niess Thanks a lot. I have added the `-s` flag, and now it works perfectly.

@probonopd @niess how to proceed, like updating metadata and related items?
@niess, will you be maintaining guiscrcpy.AppImage?

[2020-04-16 12:48] niess commented on #56
Great :)

I think its better if you do it yourself, if that's OK with you? Concerning the metadata, the logo you'd like to use etc. And so you can publish it directly in the releases of your GitHub repo.

The `linux-appimage` package allows to automate the generation of the AppImage. You can get it from PyPI for example or from GitHub. You just need to create a directory with a requirements file,

[2020-04-16 12:50] srevinsaju commented on #56
Ok, thanks a lot. I appreciate your work on `guiscrcpy.AppImage` to let me get started on it.
Also glad to know that you liked `guiscrcpy`.

[2020-04-17 05:11] espirialo5 commented on #84
can i know what was the latest version  that supports 32 bit with key mapper

On Thu, 16 Apr 2020, 7:19 pm Srevin Saju, <notifications@github.com> wrote:

[2020-04-17 11:31] espirialo5 commented on #84
can i know the latest version that supports 32bit with keymapper

[2020-04-17 16:24] srevinsaju commented on #56
@niess, thanks a lot for the `python-appimage` tool.
I have packaged `guiscrcpy` adding `adb` and `scrcpy` pre-packaged.

The [AppImage](https://github.com/srevinsaju/guiscrcpy/suites/606641534/artifacts/4564079) has been created. It works on my system. I will keep testing on other VMs too.

Thanks a lot again.

@probonopd should I update the PR on @appimagehub?

[2020-04-18 09:58] niess commented on #56
@srevinsaju Great that you managed to set this AppImage :)

I just tried the AppImage without `adb` and `scrcpy` installed on my system. It doesn't find `adb` because it expects it under `/usr/bin` whereas it is located under `$APPDIR/usr/bin` where `$APPDIR` is a temporary location set at runtime by the AppImage. Is there a way to tell `guiscrcpy` where to look for binaries? E.g. an env var? Or C

[2020-04-18 11:16] srevinsaju commented on #56
Sure, I am willing to do the hard work once, before the upcoming release of 3.7 (#76). Thanks for the information on `adb` and `scrcpy`. I had not known about that, as I tested it on my own system. My `Arch Linux` distro have frequent crashes when running `python_appimage` tool. So I am now depending on `ubuntu:18.04` docker images to build AppImages, as I feel those are pretty old and can fix the

[2020-04-18 16:33] srevinsaju commented on #56
@niess I have attempted to package binaries of scrcpy for the first time. I am not sure if it would work, I would be grateful to you, if you test this AppImage, for the last time,
I hope it works

[guiscrcpy-x86-64.AppImage](https://github.com/srevinsaju/guiscrcpy/suites/608631109/artifacts/4610299)

[2020-04-18 19:44] niess commented on #56
@srevinsaju Its getting closer :P

Youd packaged `scrcpy` almost runs on my Debian. I had 3 issues, two of which I could solve.

1. The RPATH is not set on `scrcpy`. Therefore the packaged libraries are not found by default. You can solve this with `patchelf`, e.g. as:
[code]
    This sets a search path relative to the binary location (`$ORIGIN`). Alternatively you could instead add `$APPDIR/usr/l

[2020-04-18 20:38] srevinsaju commented on #56
thanks for the test, I did a quick test in Ubuntu 20.04, and it didn't work due to the same reason.

* i didn't use linuxdeploy. instead, I manually ran `ldd` and did a trial and error, to select the libraries and reduce the size of the AppImage by not including the unnecessary ones, in my test, `scrcpy` worked without `libbluray*.so.*`. I have the binary with me, and I will push to bintray and fi

[2020-04-19 11:37] niess commented on #56
@srevinsaju No problem. Don't hesitate if you need more tests from me.

For me it would be helpful to have `scrcpy` bundled inside the AppImage. Because installing it with the package manager requires enabling testing which has side effects :( So I'd rather run it from an AppImage if available.

[2020-04-19 11:51] niess commented on #56
@srevinsaju Concerning `scrcpy-server` not being found apparently one indicate its location with the following env var: `SCRCPY_SERVER_PATH`. So for example in the `entrypoint.sh` or `AppRun` you can add:

[code]

[2020-04-19 11:53] niess commented on #56
In addition one needs to add `adb` to the PATH, e.g. exporting `$APPDIR/usr/bin` to the PATH in the entrypoint.

With these fixes I could run the packaged `scrcpy`.

[2020-04-19 12:00] srevinsaju commented on #56
Yes, I am downloading the `CentOS 6` Live to test if any more dependency errors are there. On Ubuntu 20.04, along with `libbluray`, I had to package some more libs. Maybe , I can finally test it on CentOS and confirm that `scrcpy` doesn't depend on any more libs.

[2020-04-19 12:56] srevinsaju commented on #56
@niess This is my latest AppImage, I have considered the fixes you have mentioned above + some new libraries to run scrcpy

https://github.com/srevinsaju/guiscrcpy/suites/609844413/artifacts/4641630

[2020-04-19 16:42] srevinsaju commented on #84
@espirialo5 , all the versions support 32-bit if you build it from source, there had not been any user requesting 32 bit for quite long, so I have discontinued support for 32bit. If you would like to run guiscrcpy on 32bit
* Install python from python.org
* Open powershell / Command prompt
* Type
[code]
That's it.
It should work on your system then!!

[2020-04-19 17:30] srevinsaju commented on #56
@niess , I tested on CentOS 6, but it fails due to a GLIB_C error cause due to the import of PyQt5. This might be because, I ran the python_appimage initially on Ubuntu 18.04 and used Ubuntu 18.04 as my test image. I guess, compiling on older version might help, but I am not sure. Can you let me know if the above AppImage works on your system?

[2020-04-19 17:52] srevinsaju commented on #56
@niess , here is an appimage compiled on `ubuntu-16.04` for your reference, https://github.com/srevinsaju/guiscrcpy/suites/610201559/artifacts/4649369

I am downloading this, I am not sure if it would work.

[2020-04-19 18:32] niess commented on #56
@srevinsaju The PyQt5 wheels require CentOS7 or later (`manylinux2014` tag). You can see this on PyPI by checking the download files. You'll see that the LInux wheel is labelled `manylinux2014` which is built on CentOS7.

[2020-04-19 18:33] niess commented on #56
P.S: therefore you might consider using `manylinux2014` as base image when building your app.

[2020-04-19 19:04] srevinsaju commented on #56
ok, I will update the manylinux tag, but to confirm, will an app with base image manylinux2014 work on CentOS6 and other old oses?

[2020-04-19 19:14] niess commented on #56
@srevinsaju I just tested the new AppImage and I confirm that the extracted image works for me (Debian 9) without `adb` and `scrcpy` installed :)

However I had the following issue which took me quite some time to debug. At first it was crashing because I had an old config file from a previous run where `adb` was installed under `/usr/bin`. Therefore `guiscrcpy` was trying to run `adb` using the c

[2020-04-19 19:16] niess commented on #56
Concerning `manylinux2014` I think that it would fail on CentOS6 though I never tried. But then PyQt5 would fail as well in principle. So except if you can run without PyQt5 there is no benefit for you to use an older image than `manylinux2014`.

[2020-04-19 19:18] niess commented on #56
I might be wrong :P I am interested in the result if you test. Can PyQt5 wheel run on CentOS6?

Also, just wanted to say that its amlost working now and that's great :)

[2020-04-19 19:24] srevinsaju commented on #56
No, ```pip3 install PyQt5``` downloads the tar.gz
`pip3 install PyQt5 --use-wheels` fails with unsupported OS, OS not supported error.

[2020-04-20 11:32] niess commented on #56
OK this makes sense. Then there is no gain for you to use an older image than `manylinux2014` for Python if you use the PyQt5 wheel.

If you want to support older OS (e.g. CentOS 6) you'll need to install PyQt5 from the source distribution using an old distrib (`manylinux1`, or `manylinux2010`). But that's probably a tough task on old OS. Otherwise I guess that the PyQt5 wheel would be provided fo

[2020-04-20 16:49] srevinsaju commented on #56
@niess apparently, my CI is failing after your latest commit, I am debugging it right now

[2020-04-20 18:07] tukusejssirs commented on #60
@srevinsaju, I’ve just wanted to re-open this issue, but to my surprise it was _not_ actually closed by the @github-actions bot in contrary what it said. It might be a good idea to check why it failed to close this issue. :smiley:

[2020-04-20 18:43] niess commented on #56
@srevinsaju Indeed, I have similar errors. Sorry for this. I am having a look.

[2020-04-20 18:43] srevinsaju commented on #56
It seems like when we specify a path, it crashes, but when we provide a PYPI package, it doesnt

[2020-04-20 18:48] niess commented on #56
There is a typo apparently: `No such file or directory: '.../squashfs-root/opt/python3.8/python3.8'`. There is a `bin` missing.

[2020-04-20 18:51] niess commented on #56
I found it. I am testing and patching. Sorry, this was affecting the extracted image which I didn't test before committing. Well this shows that I need some CI test before releasing ...

[2020-04-20 18:57] niess commented on #56
@srevinsaju Concerning the caching, I don't know on GitHub workflows. I never used it.
What would be needed as well Is an option to provide a base image on disk when running `python-appimage`, instead of downloading. I'll add it to the `issues`.

[2020-04-20 18:59] srevinsaju commented on #56
Ok, thanks a lot; I took a bit of time, testing it to see something went wrong on my side

What would be needed as well Is an option to provide a base image on disk when running python-appimage, instead of downloading. I'll add it to the issues.

Not Github workflows, on my local machine, I wanted to cache a copy of python, so I don't need to download it every time I build. Thanks, it was maybe a

[2020-04-20 19:02] srevinsaju commented on #56
@niess, now the CI builds correctly, Thanks a lot for the quick fix

[2020-04-20 19:03] niess commented on #56
@srevinsaju It should work now. sorry for this :(

[2020-04-20 19:03] srevinsaju commented on #56
No problem, parts of development ;)

[2020-04-20 19:05] niess commented on #56
And yes, I should add some caching. But how to check if the image was updated remotely without downloading it? That's why U didn't do it so far. But at least I could add an option to use an image on disk. So people manage their own cache of images, themself.

[2020-04-20 19:06] srevinsaju commented on #56
@niess where are the images downloaded from?

[2020-04-20 19:06] niess commented on #56
From GitHub releases

[2020-04-20 19:07] srevinsaju commented on #56
Yes, is it on niess/python-appimages ?

[2020-04-20 19:07] niess commented on #56
Over there: https://github.com/niess/python-appimage/releases
But I could change this :P

[2020-04-20 19:08] niess commented on #56
Its problematic for other reasons. E.g. I would need to merge Github Workflow & Travis results but I don't know how to sync those properly

[2020-04-20 19:08] srevinsaju commented on #56
@niess , maybe you could add the commit sha to the file name of the upload, and then use gh api to query for a difference in the sha,I am not sure, theoritically it should be possible

[2020-04-20 19:09] niess commented on #56
I could add a meta file indeed :)

[2020-04-20 19:10] srevinsaju commented on #56
Yea, maybe, or a SHA256SUM.txt like on https://github.com/Genymobile/scrcpy/releases.
either way

[2020-04-20 19:10] srevinsaju commented on #56
@niess, btw, I was planning for the release of 3.7 (pre release) with guiscrcpy AppImage. Is the AppImage in a good position to be released?

[2020-04-20 19:12] niess commented on #56
Yet letting people manage the caching themselves is appealing as well :P It would solve many problems on my side ^ ^ I would just need to give them the tools to do it, so basically building from an image on disk.

[2020-04-20 19:13] niess commented on #56
Where can I find the latest release of the `guiscrcpy` AppImage? The last time that I tested I need to modify it a bit in order to work.

[2020-04-20 19:16] srevinsaju commented on #56
I have added the support for detecting adb as you have mentioned, but the config file problem is still unsolved. Should I write another config file in another folder called `~/.config/guiscrcpy.appimage/*` or should I do some other changes?

[2020-04-20 19:18] srevinsaju commented on #56
This is the latest, https://github.com/srevinsaju/guiscrcpy/suites/613234079/artifacts/4717513

[2020-04-20 19:18] niess commented on #56
If you don't expect users to modify this config file then it sounds like an easy fix yes

[2020-04-20 19:20] srevinsaju commented on #56
@niess Alternatively, I can not read the path to adb and scrcpy if I create another environment variable `GUISCRCPY_APPIMAGE` = True, then to respect environment vars and not to update the config. That would be a solution too. I am not sure which is the best

[2020-04-20 19:29] srevinsaju commented on #56
@niess, Seems like I had already implemented that too in the previous link. I don't remember what I do :facepalm: .

The previous https://github.com/srevinsaju/guiscrcpy/issues/56#issuecomment-616756027 is the almost final version of 3.7 guiscrcpy

[2020-04-20 19:38] niess commented on #56
I tested your AppImage. It works great for me :) I could run its several times without any issue.
I will use it :P

[2020-04-20 19:39] srevinsaju commented on #56
Thanks for testing :smiley:

[2020-04-22 18:06] srevinsaju commented on #56
@niess There is a problem now:
The CI on appimage.github.io is failing for some reason

https://github.com/AppImage/appimage.github.io/pull/1967

[2020-04-23 10:13] niess commented on #56
@srevinsaju I don't understand what's going on neither. It seems to be blocked at some stage but I cant see any report? @probonopd ?

[2020-04-23 11:02] srevinsaju commented on #56
@niess, you can see the report on the Travis CI (Checks), it fails at checking some ENV variable $FILES, but your python-3.8.AppImage succeeds the test due to some reason.

[2020-04-23 11:38] niess commented on #56
I see this error:
[code]
I thought that you already patched it? Because the following tests were successful. If not, apparently you need to add a semicolon in your desktop file after the last item in Keywords, over [here](https://github.com/srevinsaju/guiscrcpy/blob/master/appimage/guiscrcpy.desktop#L8), i.e. `Android;` instead of `Android`.

[2020-04-23 15:12] srevinsaju commented on #56
Thanks a lot, it was my dumb mistake. I will update the AppImage and let you know if the CI passes then.

[2020-04-23 16:22] srevinsaju commented on #56
@niess, It still fails, I edited the desktop file

https://travis-ci.org/github/AppImage/appimage.github.io/builds/678669680#L612

[2020-04-23 16:40] niess commented on #56
OK, now the reason is that `libxkbcommon-x11.so.0` is missing. This library is needed by PyQt5 but not shipped with the PyQt5 wheel. On some Linuses -as the one used for AppImage validations- it seems to be missing. @probonopd it's not clear to me if it should be packaged in PyQt5 AppImages/wheel (as a patch) or in the Docker image that does the validation (I.e. assumed to be available)?

Anyway,

[2020-04-23 16:44] probonopd commented on #56
Ideally the one from the Docker container would be copied to the AppImage.

[2020-04-23 17:05] srevinsaju commented on #56
@niess @probonopd I have update the CI to patch PyQt5 with the lib. Thanks @niess for the quick fix.

[2020-04-23 17:12] srevinsaju commented on #56
@niess @probonopd I have updated the CI to patch PyQt5 with the lib. Thanks @niess for the quick fix.

[2020-04-23 18:21] probonopd commented on #56
I can say for sure that e.g., Xubuntu does __not__ have `libxkbcommon-x11.so.0`, so for the AppImage to work "out of the box" the library needs to be bundled privately inside the AppImage. Ideally the one from the Docker container.

[2020-04-24 02:50] jdeisenberg opened #101 "AttributeError: module 'sipbuild.api' has no attribute 'prepare_metadata_for_build_wheel'"
[code]

[2020-04-24 03:29] jdeisenberg commented on #101
Upgrading pip3 to the latest version (20.0.2) appears to have solved the problem.

[2020-04-24 03:29] #101 closed

[2020-04-24 08:05] niess commented on #56
@probonopd OK, then it would make sense to include it in the PyQt5 wheel directly. It  wrote an email to the PyQt5 mailing list about this.

[2020-04-24 09:37] srevinsaju commented on #56
@niess unfortunately, the CI's still failing. I guess I messed up this AppImage thingy. Should I depend on other packing systems like snap or flatpak

[2020-04-24 11:05] niess commented on #56
@srevinsaju I can understand your frustration. Note however that your AppImage works as so on many LInux. People that would pip install the wheel would have the same issues. Even more actually since you also packaged `adb` and `scrcpy` in your AppImage.

Do you still have the same error related to `libxkbcommon-x11.so.0`?

[2020-04-24 11:26] niess commented on #56
@srevinsaju I just found the CI. To me It looks like it doesn't even start because it doesn't even look for your AppImage? I don't know why. Actually, I never did a PR to appimage.io :P

Maybe you could start again from scratch with a new PR?

[2020-04-24 15:47] srevinsaju commented on #56
Ok @niess, Did a re PR, and now it doesn't find another lib (PyQt5).
As, the main issue is fixed, I guess I can close this PR. I guess, I have already put a lot of time into AppImage thingy, but maybe, I should work on it later. I happy to know it works on many systems, as far as the last LTS is cocerned (maybe no xubuntu). I will continue, maybe later.

Thanks again.

[2020-04-24 15:47] #56 closed

[2020-04-24 18:34] niess commented on #56
@srevinsaju I understand. That's quite a work at the end indeed :( Sorry that it didn't go more fluently. I am doing this as a side project. Actually my main motivation was distributing Python to my co-workers for which the `python-appimage` works great as so.

I think that the PR is still failing because of `libxkbcommon-x11.so.0`. Probably that the the one that you packaged is not compatible wit

[2020-04-24 19:21] srevinsaju commented on #56
Yes @niess, `guiscrcpy` is also a side project, but I might need to start working on more features for `guiscrcpy`. I need to start working on reducing the latency of button touch and device actions. Currently it takes 0.8-1.0 seconds approx, and I would like to reduce it to less than 0.1s

How could you understand that the error is still caused by `libxbcommon-x11.so.1`. that's cool skills to ded

[2020-04-25 17:44] wolfy01 opened #103 "Weird error with AppImage when pressing ANY key in gui"
[code]
No idea why this is happening

[2020-04-25 17:45] wolfy01 commented on #103
Also get the same error when closing guiscrcpy

[2020-04-25 17:51] srevinsaju commented on #103
@wolfy01 can you show me your `neofetch` ?

[2020-04-25 17:53] wolfy01 commented on #103
I'm using Debian 10. Also, `neofetch` doesn't work in my terminal.

[2020-04-25 17:54] srevinsaju commented on #103
@wolfy01 maybe
[code]

[2020-04-25 17:57] wolfy01 commented on #103
[code]

And yes, I can confirm that I am using Chrome OS. Maybe that has to do with this issue?

[2020-04-25 17:57] srevinsaju commented on #103
Thanks for the information.
Actually our appimages are still in beta. we are working on it.
I would be very grateful if you tell me if the following works
[code]

[2020-04-25 17:59] srevinsaju commented on #56
@niess Does appimages work on Chrome OS? #103

[2020-04-25 18:01] wolfy01 commented on #103
I actually don't know how it works on Chrome OS. There's only a terminal really, and AppImages do work on Chrome OS.

[2020-04-25 18:02] srevinsaju commented on #103
@wolfy01 I am curious. Do you have a GUI?

[2020-04-25 18:03] wolfy01 commented on #103
If your referring to linux, no, just a terminal.

[2020-04-25 18:04] srevinsaju commented on #103
Oh yes. Thats the reason, `guiscrcpy` needs a display to work. To confirm, can you tell me the output of this command
[code]

[2020-04-25 18:05] wolfy01 commented on #103
I have a display, lol.. And I think Chrome OS is linux? Also I do have the GUI showing for guiscrcpy.

[2020-04-25 18:08] srevinsaju commented on #103
Ok, makes sense.
Did you try out this https://github.com/srevinsaju/guiscrcpy/issues/103#issuecomment-619417620

[2020-04-25 18:11] wolfy01 commented on #103
Currently i'm getting the `egg_info` error when running `pip3 install -U guiscrcpy`

[code]

[2020-04-25 18:12] srevinsaju commented on #103
Seems like your device doesn't support PyQt5 wheels for `manylinux2014`, I will check it out

[2020-04-25 18:15] srevinsaju commented on #103
Are you having an ARM device?

[2020-04-25 18:18] wolfy01 commented on #103
No.
`x86_64` aka `AMD64`

[2020-04-25 18:20] srevinsaju commented on #103
ok, I will try it out on a chromium VM.
By the way, there are apt packages for PyQt5, but please note, `guiscrcpy` requires PyQt5 >= 5.14

[2020-04-25 18:22] wolfy01 commented on #103
Also it appears that `PyQt5` does not work in Chrome OS D:
I don't know for sure though.

`sudo apt-get install python3-pyqt5` Seems to work, but I have no idea what version it is

[2020-04-25 18:24] srevinsaju commented on #103
[code]

[2020-04-25 18:25] wolfy01 commented on #103
Ah, ok. Yea, only `5.11.3`

[2020-04-25 18:27] srevinsaju commented on #103
@wolfy01 See [this](https://pkgs.org/search/?q=PyQt5) for PyQt5 apt packages (5.14.2)

[2020-04-25 18:30] wolfy01 commented on #103
I don't see `5.14.2`?

[2020-04-25 18:31] srevinsaju commented on #103
its for `Debian sid`  aka `testing`

[2020-04-25 18:32] srevinsaju commented on #103
@wolfy01 Try this
[code]
and then
[code]

[2020-04-25 18:35] wolfy01 commented on #103
[code]
Everything worked, I just got this warning. Should I ignore it?

[2020-04-25 18:36] srevinsaju commented on #103
Nah no problem
Now,
[code]

[2020-04-25 18:39] wolfy01 commented on #103
[code]

[code]

[2020-04-25 18:39] srevinsaju commented on #103
Ok,
run
[code]

[2020-04-25 18:40] wolfy01 commented on #103
Seems to be working!

[2020-04-25 18:40] srevinsaju commented on #103
Yay! great

[2020-04-25 18:41] wolfy01 commented on #103
Besides `scrcpy` not being in path? Although it does work in the terminal itself.

[2020-04-25 18:41] srevinsaju commented on #103
@wolfy01 Do you have `scrcpy` ?

[2020-04-25 18:43] wolfy01 commented on #103
Yes, and it works.
[code]

[2020-04-25 18:44] srevinsaju commented on #103
@wolfy01 That is because, (if you do have scrcpy),
scrcpy is installed to `/usr/bin` which is probably on your PATH
[code]
You will see that `/home/wolfy3543/.local/bin` is not on `PATH`.
To fix that
[code]

[2020-04-25 18:44] wolfy01 commented on #103
Okay, I got it to work, but I can't move any of the windows when connecting to my device.

[2020-04-25 18:45] srevinsaju commented on #103
After connecting, before connecting or while connecting?

[2020-04-25 18:46] wolfy01 commented on #103
I mean the control bars that pop up after connecting. I tried using `ALT` + `Left Click` but that didn't work either.

[2020-04-25 18:46] srevinsaju commented on #103
Oh ok, use the dots to move them

[2020-04-25 18:47] wolfy01 commented on #103
Thats what i've been trying to do. 🤔

[2020-04-25 18:47] srevinsaju commented on #103
Thats odd, anything in logs

[2020-04-25 18:48] wolfy01 commented on #103
Nope, nothing.

[2020-04-25 18:50] srevinsaju commented on #103
I will check that

[2020-04-25 18:50] srevinsaju commented on #103
I will provide a fix in 5 mins

[2020-04-25 18:50] wolfy01 commented on #103
Alright

[2020-04-25 18:51] srevinsaju commented on #103
Can you provide a screenshot of guiscrcpy with the popup windows?

[2020-04-25 18:55] wolfy01 commented on #103
![image](https://user-images.githubusercontent.com/45273698/80288244-c00e4100-8704-11ea-9416-9e4378587c08.png)

[2020-04-25 19:21] srevinsaju commented on #103
@wolfy01 Thanks, I have added the support to display title bars temporarily
[code]
Run guiscrcpy by
[code]
or
[code]

[2020-04-25 19:23] wolfy01 commented on #103
Thanks! Also, I have discovered another interesting error while playing around with guiscrcpy.
[code]

[2020-04-25 19:27] srevinsaju commented on #103
Yup, notification aduitor is not used by anyone anymore. There are more modern implementaions to get the mobile notifications, see [KDE Connect](https://kdeconnect.kde.org/) a better implementation, and efficient too.

The current error you have got is because Chrome OS is not supported by the `pystray` module. You can only use the `notification aduitor` if you have a taskbar. On Linux (KDE), its

[2020-04-25 19:29] wolfy01 commented on #103
Ah, okay, also the tall display bar I cannot move because I can't make the top part of the window big enough to move it.

[2020-04-25 19:31] srevinsaju commented on #103
Hmm, thats the best I can do as a temporary fix. I will check why it doesn't work on Chrome OS. Chrome OS has its own desktop manager and implements its functions in a different way a compared to other popular Linux Desktop Window managers like GNOME , KDE, XFCE and LXDE. I will check it on StackOverflow or some other website and try to find a fix about it.

PS: Does Alt click help to move the win

[2020-04-25 19:32] wolfy01 commented on #103
Nope

[2020-04-25 19:34] wolfy01 commented on #103
Also, is it possible that you could add an option to disable the arrow panel?

[2020-04-25 19:35] srevinsaju commented on #103
Sure

[2020-04-25 19:47] srevinsaju commented on #103
@wolfy01 I have fixed the arrow panel. Repeat https://github.com/srevinsaju/guiscrcpy/issues/103#issuecomment-619428461

Please help me to find more bugs like this, before the next stable release 3.8

[2020-04-25 19:51] wolfy01 commented on #103
Will do

[2020-04-25 20:35] #103 closed

[2020-04-25 20:39] wolfy01 opened #104 "Please make it so you can type in custombitrate."
Believe it or not, it can actually be incredibly difficult to use the current way to set the bitrate. My WiFi can do 2M before some lag starts to happen, and I mean EXACTLY 2M xD, but thats very hard to set when using the gui.

`REQUEST`

[2020-04-26 04:16] srevinsaju commented on #65
Closed by [3.7](https://github.com/srevinsaju/guiscrcpy/releases/3.7)

[2020-04-26 04:18] srevinsaju commented on #64
Closed by [3.7](https://github.com/srevinsaju/guiscrcpy/releases/3.7

[2020-04-26 04:19] #64 closed

[2020-04-26 08:45] niess commented on #56
@srevinsaju I understood that this is solved? PyQt5 wheel was not compatible with the user's system / ChromeOS?

Concerning the travis log for `guiscrcpy` I looked at the latest (closed) PR. There is a link to the Travis log leading to [there](https://travis-ci.org/github/AppImage/appimage.github.io/builds/679092295#L592). If that's indeed the latest trial?

[2020-04-28 08:28] #84 closed

[2020-04-29 07:04] #28 closed

[2020-04-29 07:05] srevinsaju commented on #104
@wolfy01 can you please test `master` and let me know if it works

[code]

[2020-04-29 07:07] srevinsaju commented on #80
Merged to `master` by https://github.com/srevinsaju/guiscrcpy/commit/2bf2ce887cfd53a10a001dae09a0d47889492d3a

[2020-04-29 07:07] #80 closed

[2020-04-29 19:53] #62 closed

[2020-04-30 04:58] #65 closed

[2020-04-30 04:58] srevinsaju commented on #104
Merged to master

[2020-04-30 09:24] srevinsaju commented on #60
Maybe @github-actions wants to wait for a week before trying to close this issue @tukusejssirs
It tried to close it 2-days ago, an issue / PR with the no-activity label

[2020-04-30 09:24] srevinsaju commented on #60
@tukusejssirs Can you check the documentation is alright?

[2020-04-30 09:27] srevinsaju commented on #81
@cameel I will fix this issue in v3.8

[2020-04-30 09:45] srevinsaju opened #105 "Add support for scrcpy 1.13"
Fixes #81

[2020-04-30 18:59] Thyrador opened #107 "Error when scanning for network devices"
Getting this error, when trying to scan for network devices.
[code]

My system informations:
[code]

[2020-04-30 19:15] Thyrador opened #108 "Error: No module named 'pystray'"
Getting this error when enabling **Notification Auditor**
[code]
Installed pystray via pip and pip3:
[code]
[code]

[2020-05-01 12:23] srevinsaju commented on #56
@niess At last fixed the Travis on https://github.com/AppImage/appimage.github.io/pull/1980 ; The libs had to be placed in usr/lib for some reason, and it worked.

[2020-05-01 12:42] srevinsaju commented on #108
@Thyrador, the `snap` package does not have support for the Notification Auditor support. You will have to manually install `guiscrcpy` as a `pip` package

[code]

[2020-05-01 12:43] srevinsaju commented on #107
Thanks, I will check that and provide a fix before the release of 3.10 (within two or three days)

[2020-05-01 13:05] niess commented on #56
@srevinsaju Great :) Thank you for the information. Though I don't understand why but nevermind :P

[2020-05-01 13:32] Thyrador commented on #108
@srevinsaju , thanks for your reply. Is there a way to provide the package (snapcraft.yaml?) somehow? So it would be either installed automatically or can I reference it in some way so it would appear inside the snap package?

[2020-05-01 15:28] srevinsaju commented on #108
@Thyrador The notification aduitor is not commonly used by everyone, and is highy experimental and discontinued feature. If your aim is to show mobile notification your PC, I highly recommend you to use [KDE Connect](https://kdeconnect.kde.org/) which is available for all Linux distributions, and has a better implementation; Let me know if it works

[2020-05-01 15:36] srevinsaju commented on #107
@Thyrador Can you try this, and let me know if the issue persists
[code]

[2020-05-01 15:41] Thyrador commented on #108
Currently using [KDE Connect](https://kdeconnect.kde.org/), but wanted to avoid installing additional apps on my devices (if possible). Not quite happy with [KDE Connect](https://kdeconnect.kde.org/) so I was hoping for an alternative. If it is discontinued then we can close this ticket.

Thanks for your kind responses tho.

[2020-05-01 15:41] #108 closed

[2020-05-01 15:51] Thyrador commented on #107
Running these commands will result in the following output:
[code]
Still getting this error when scanning for network devices (including app crashing)
[code]

[2020-05-01 15:53] srevinsaju commented on #107
Yes, I found the reason, it is because `snaps` are confined to start semaphores (threaded processes) on the host system due to confinement; I am trying to fix that

[2020-05-01 15:55] srevinsaju commented on #108
Its ok, I am not sure if you would be satisfied with `guiscrcpy`'s notification aduitor too, I was planning to disable it for 3.10. Did you try out this `pip` package, and see how it feels?

[2020-05-01 15:55] Thyrador commented on #107
Great. No rush, take your time.
Just a quick question regarding this issue: will this also auto connect to adb, or do I still have to do it manually? (have to do it once my machine boots up and then ocassionally from time to time)

[2020-05-01 15:58] Thyrador commented on #108
No, didn't try it out yet, since you said it will be discontinued anyway. So there's no reason to get used to it :D
Until there's a better alternative than **KDE Connect** I'd probably stick with it for now.

[2020-05-01 16:35] srevinsaju commented on #108
I am currently using KDE Connect and its been a cool app; hadn't had any issues with it so far.

No, I meant, I can continue to develop it and not disable it on 3.10 tomorrow, when its released; if the current functionality is satisfactory.

For me `KDE Connect` >> `guiscrcpy's NotifAduitor`

[2020-05-01 16:42] Thyrador commented on #108
Oh, I see. Doesn't seem to work anyway. Got a white square in my system tray but no notification is popping up.

[2020-05-01 16:49] srevinsaju commented on #108
Ok, then I guess, I should better remove it; It works somewhat on some systems; not stable across desktop managers and OSes. Thanks for your test

[2020-05-01 16:53] Thyrador commented on #108
You're welcome. In this regard **KDE Connect** is definitely more reliable.

[2020-05-01 17:00] srevinsaju commented on #107
You will have to connect to your android device once per session. `guiscrcpy` cannot do that; and that is android behavior. If you are skilled, you can create a shell script so that adb on your system automatically connects to your device at the start of the screen. Moreover, to enable mirroring over wifi, (if you are not rooted; looking at your gthub profiles, looks like you are an android modder

[2020-05-01 17:03] Thyrador opened #112 "[SUGGESTIONS] Keep settings & snap toolbars to window & Create .desktop files"
**1.** After closing the gui, for some reason the settings won't stay.
If I choose to change the bitrate, disable/enable toolbars or pass various arguments, it all will be lost after I restart the application.

**2.** When having multiple **scrcpy** windows open, it gets hard to determine which toolbar is used for which window. If possible, they should get snapped to the **scrcpy**-window (will sw

[2020-05-01 17:16] Thyrador commented on #107
I am? :D
Well, sort of. I am rooted, for sure and already told tasker to run adb and open a port on my android devices.
I did create some ***.desktop** shortcuts to run the typical adb connect before opening **scrcpy**.
Using the discovery feature of **guiscrcpy** I was hoping of not having to do that anymore (if not wanted) especially when testing devices.
Since the network adress will already be

[2020-05-01 17:18] srevinsaju commented on #112
@Thyrador can you check if your configuration is saved with guiscrcpy from the pip package or the AppImage?

If I choose to change the bitrate, disable/enable toolbars or pass various arguments, it all will be lost after I restart the application.

this is possibly because you are running the snap. The pip package has all support for configuration management and saving them and restoring them on t

[2020-05-01 17:32] Thyrador commented on #112
Neither of them will remember the settings.

Had looked into that and it's all in chinese. The only thing I am good at in chinese is loving the food :D
But I had something similar in mind. If it is not possible, I'm fine with it.

[2020-05-01 17:39] srevinsaju commented on #112
That's odd. Something's gone wrong

Can you check if you have
[code]

And then, can you copy paste the configuration json?

[2020-05-01 17:40] Thyrador opened #113 "[SUGGESTION] Save settings to *.desktop file"
As per request:

Creating ***.desktop**-files from the settings: so you can easily create shortcuts to devices you frequently use.

This should support connections to devices connected to usb aswell as devices connected via WiFi. For example (connection via WiFi):

[code]

[2020-05-01 17:43] Thyrador commented on #112
**guiscrcpy.json**:
[code]
Not sure if it got installed with snap, AppImage or pip. but it's definitely there and I have access to it

[2020-05-01 17:44] srevinsaju commented on #112
@Thyrador can you change the bitrate, execute `start scrcpy` and then close `guiscrcpy`; send me the copy of the json, and then check if the settings are updated?

[2020-05-01 17:50] Thyrador commented on #112
[code]

Still the same, not getting updated.

[2020-05-01 17:51] srevinsaju commented on #112
Can you give me the output of
[code]

[2020-05-01 17:53] Thyrador commented on #112
`/snap/bin/guiscrcpy`

[2020-05-01 17:55] srevinsaju commented on #112
ok, now it makes sense

[code]
Please retry with this https://github.com/srevinsaju/guiscrcpy/issues/112#issuecomment-622488817 and then let me know of the output changed

[2020-05-01 18:11] Thyrador commented on #112
After deleting all of the **guiscrcpy** related files (and removing snap/python module) it somehow works. But only for the bitrate, it seems. Still won't remember which toolbars I don't want to show.

[2020-05-01 18:13] srevinsaju commented on #112
Yes, the toolbars are all enabled by default. If you prefer, I can save that also in v3.10?

[2020-05-01 18:15] Thyrador commented on #112
That would be great. Also which custom command-line arguments you provided in the gui (if not already there).
Thank you :)

[2020-05-01 18:16] srevinsaju commented on #112
I guess custom command line args are already there.

[2020-05-01 18:21] Thyrador commented on #112
Yes, you're right. Command-line options will be saved. Didn't checked that. Seem good so far:
![image](https://user-images.githubusercontent.com/62007301/80830488-5355e380-8be9-11ea-90bb-5cde8efe0936.png)

[2020-05-01 18:23] srevinsaju commented on #112
Great! Looks good. thanks for testing guiscrcpy

[2020-05-01 18:25] Thyrador commented on #112
No problem. Let me know if you need something else tested.
and thank you for your kind and quick support :)
Really appreciate it.

[2020-05-01 18:26] srevinsaju commented on #112
I will close it after I update the `snap` documentation

[2020-05-01 18:30] srevinsaju commented on #112
@Thyrador If you would like to have some more features, please let me know, It would help to make `guiscrcpy` better :smile:

[2020-05-01 18:40] Thyrador commented on #112
Well, yeah. There are 2 I am still thinking of. but not sure if possible or too much to ask.
I wondered it it would be possible to have to have some sort of monitoring service (as tray notification) so you can check if your device(s) are still connected (device name, ip/usb, status color) -> really helpful with multiple devices if you can't grab them the moment you want to check.
Which ultimately

[2020-05-02 00:01] barry-ran commented on #112
What does all Chinese mean? Should readme and software interface be in English? I am also looking for foreign friends to help translate other documents, is anyone willing to help?

[2020-05-03 04:45] MccallisterJ opened #114 "virtualhere (remote usb support built-in"

[2020-05-03 04:45] MccallisterJ opened #115 "Virtualhere (USb"

[2020-05-03 05:37] MccallisterJ opened #116 "[SUGGESTION] Virtualhere (Remote USB) support (preferably built-in)"
I've got it to work with SCRCPY before, but it's a pain. I assume a lot of people are like me and mostly use this for gaming on a larger screen or smaller sometimes ..(XBOX Streaming+Nvidia Shield+SCRCPY=XCloud on PC)  Since this is a program meant to simplify the use of SCRCPY, might as well include it for use with USB and bluetooth game controllers and the like. Especially when it soon will most

[2020-05-03 05:46] #115 closed

[2020-05-03 05:46] #114 closed

[2020-05-03 06:27] srevinsaju commented on #116
@MccallisterJ I had not heard of VirtualHere; I am not sure if its open source; can you post a link to VirtualHere's source code. I can only add support to commercial products with the help of open collective supporters; Adding support for commercial products within open source guiscrcpy will require some licensing work; and contacting members;

When I get my first patron on [patreon](https://patr

[2020-05-03 06:48] srevinsaju commented on #116
Here is the poll, https://www.patreon.com/posts/virtualhere-tm-36688180

[2020-05-03 18:57] srevinsaju commented on #112
@barry-ran I guess you should have UI and Readme in English. Your project is cool; I will try to translate it to English.

[2020-05-04 00:35] barry-ran commented on #112
That's so grateful

[2020-05-04 05:18] srevinsaju commented on #113
@Thyrador
G' day

I have implemented the desktop file functionality you have asked for.
See #111

For prebuilt binaries, see:
https://github.com/srevinsaju/guiscrcpy/releases/tag/continuous

Please let me know if anything is not working regarding the same

[2020-05-04 06:06] Thyrador commented on #112
Hey @barry-ran . It just meant that your UI and documentation is in Chinese, so for people outside of your country it is not possible to understand it. If you will it open to the rest of the world is up to you, but it wouldn't be just me being grateful about it :)
This requires the software to actually be at least in English. I'd be glad to help, but I don't understand Chinese at all, unfortunatel

[2020-05-04 06:21] srevinsaju commented on #112
@Thyrador, In case you missed this: https://github.com/srevinsaju/guiscrcpy/issues/113#issuecomment-623262060

[2020-05-04 06:25] barry-ran commented on #112
QtScrcpy currently supports Chinese and English. English should be displayed on non-Chinese systems. Otherwise, this is a bug. Is the software ui in Chinese on your system?

[2020-05-04 06:27] Thyrador commented on #113
@srevinsaju
Good day :)

Tested the AppImage and although it prints that the desktop file was created, I can nowhere seem to find it. Tried finding it via find and locate to no avail.
I saw that you will log the filepath. Wouldn't it be better to print it to the user so if someone is not that skilled with these things it actually will be possible to know where these files get saved to?

[2020-05-04 06:28] srevinsaju commented on #112
@barry-ran I wanted to tell this; The `#Build` link on your Readme is broken

[2020-05-04 06:28] Thyrador commented on #112
I didn't @srevinsaju but thanks for reminding :D

Let me check again, @barry-ran

[2020-05-04 06:32] barry-ran commented on #112
Thanks a lot, there is indeed this problem, I will fix it

[2020-05-04 06:41] srevinsaju commented on #113
@Thyrador try
[code]

It should be found on ~/Desktop under normal conditions

[2020-05-04 06:42] Thyrador commented on #112
@barry-ran also detailed instructions would be good since ***and it is easy to compile*** does not tell how to build it :P

Tried meson and make, didn't get it to build.

[2020-05-04 06:46] Thyrador commented on #113
They won't get generated. Can't find an `.guiscrcpy.desktop` on my system.

[2020-05-04 06:46] barry-ran commented on #112
@Thyrador  Are we seeing the same document？
![image](https://user-images.githubusercontent.com/18702692/80941826-fdb24e80-8e15-11ea-8495-9f92fdb54ada.png)

[2020-05-04 06:47] Thyrador commented on #113
This is what I get:
[code]

[2020-05-04 06:50] Thyrador commented on #112
@barry-ran
Yes. But I struggle at **4. Compile and run**

I'm not a Qt-developer, so I don't really know how to compile it.
That's where instructions (like terminal commands you need to enter) would be helpful.

[2020-05-04 06:50] srevinsaju commented on #113
export XDG_DESKTOP_PATH to your desktop path

[2020-05-04 06:51] srevinsaju commented on #113
@Thyrador https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2020-05-04 06:56] barry-ran commented on #112
You may not need to compile QtScrcpy yourself, you can download the executable file directly in [Release](https://github.com/barry-ran/QtScrcpy/releases). If you are interested in compilation, you can refer to [github action](https://github.com/barry-ran/QtScrcpy/tree/master/.github/workflows)

[2020-05-04 06:57] Thyrador commented on #113
Could you give me instructions on how to do that?

[2020-05-04 07:05] Thyrador commented on #112
I should have stated that I am running linux here :D
I'm on Kubuntu 20.04.

[2020-05-04 07:07] barry-ran commented on #112
Sorry, it's really not very good to compile

[2020-05-04 07:08] srevinsaju commented on #113
[code]

[2020-05-04 07:16] Thyrador commented on #112
So you advise to not use it on Ubuntu?

[2020-05-04 07:20] Thyrador commented on #113
Thanks. Tested it and it indeed get saved to the desktop. Unfortunately adb path is messed up. It will generate something like this:

[code]
When trying to execute it it just stops with the error, that adb is not to be found on this path.

[2020-05-04 07:26] Thyrador commented on #113
Also `guiscrcpy` should be replaced with `guiscrcpy -s 192.168.34.13:5555` when connecting with ip.
Path to guiscrcpy also is not right, so it won't start (have removed the python module and running the snap), testing with the app image.

[2020-05-04 07:28] srevinsaju commented on #113
Most probably because its an AppImage; maybe you can try the pypi wheel from the releases
[code]

Download the wheel and then run the above command; Hope it works

[2020-05-04 07:44] srevinsaju commented on #112
@Thyrador, what `barry` might tell is that; Kubuntu has many other dependencies. A software you compile on Ubuntu is easy to run on any `manylinux2014` platform. Ubuntu has the minimum dependencies; any extra dependency will require you to install them and compile them. Kubuntu based on Qt includes most of the Qt Dependency; which might create a conflict between QtScrcpy's and Kubuntu's libraries;

[2020-05-04 07:47] Thyrador commented on #113
Okay, it seem to work now. Except for the thing that I expected it to actually execute **scrcpy** when starting the desktop app. Otherwise it just seem to upen **guiscrcpy** only.

[2020-05-04 07:49] Thyrador commented on #112
@srevinsaju thanks for clarification. Since I am not a Qt developer I am not aware of these things but it makes sense.
Maybe @barry-ran can provide at least a AppImage or Snap too?

[2020-05-04 07:52] srevinsaju commented on #113
Ok, I will add support for appimages, and automatically start scrcpy along with guiscrcpy so it becomes easier. Hope the current implementation is ok,

Any suggestions about the UI for Device View?

[2020-05-04 07:55] srevinsaju commented on #112
Yes @Thyrador , many of the users are also not familiar with Qt on C++/Python; this is the possible reason I had to put a lot of effort into packaging guiscrcpy and making it available for other users and for a wider distribution.

See README.md for more information on the different modes of packaging / distribution

[2020-05-04 07:55] Thyrador commented on #113
Does look okay to me, except that if I add a second device it won't show up in the list

[2020-05-04 08:00] Thyrador commented on #112
Wish I'd started with linux development instead of windows 10 years ago so I would understand more of it as I do now.

[2020-05-04 08:01] srevinsaju commented on #112
@Thyrador Same here; I started with windows too :wink:

[2020-05-04 08:05] Thyrador commented on #112
Finally someone who understands why I hate windows so much, right? :D
How long did it take for you to get where you are now? Any suggestions where to start and what I need?
I mean I learned C# mostly by myself, but that took me quite a while (I made lots of mistakes but learned from them).
Even though I like learning by myself, it would be convenient to have a good starting point and at least know

[2020-05-04 08:56] srevinsaju commented on #113
You might need to refresh then;

[2020-05-04 09:10] Thyrador commented on #113
Doesn't seem to work either:

[code]
After closing and restarting it, guiscrcpy now won start at all:
[code]

Deleting **guiscrcpy.json** doesn't seem to help.

[2020-05-04 09:12] srevinsaju commented on #112
Yes; I feel quite relieved; and indeed happy that I started using Linux at least now (I started only a year ago)

This project has been started because of some personal necessity. I had to view my online classes on an android phone; because I didn't have an ethernet connection; So I developed `guiscrcpy` when I was in 10th grade (If I concur); And ever since then I have been working on this projec

[2020-05-04 09:14] srevinsaju commented on #113
@Thyrador

Ok; thanks for the suggesstion. I will add the auto start scrcpy argument too

[2020-05-04 09:15] srevinsaju commented on #113
@Thyrador can you give me the output of
[code]

[2020-05-04 09:18] Thyrador commented on #113
Sure.
[code]

[2020-05-04 09:20] srevinsaju commented on #113
Thanks; I will have to add a check for unauthorized devices too. Meanwhile I fix it; you can try to authorize your device and try again; it should work
You should get a popup on your device asking for permissions

[2020-05-04 09:33] srevinsaju commented on #113
@Thyrador I have fixed it
https://github.com/srevinsaju/guiscrcpy/releases/tag/continuous

[2020-05-04 10:03] Thyrador commented on #112
Haha, now I feel bad :D
Switched over to Linux about 4 years ago and am happy about it. Still have to use Windows at work (virtual machine) so I still can develop. Really like Jetbrains Rider but converting some of the huge projects to .NET Core I am working on is not just time consuming but also such a pain in the ass.

Whew, now I feel old :D
But I know what you mean. You need a lot of patience

[2020-05-04 10:06] Thyrador commented on #113
Oh well, that worked. Didn't even notice the "unauthorized" attribute, lol.
Since it was `connected` and I didn't check the popup I thought all was okay :D

Things like this happen while answering questions while working :D

[2020-05-04 10:18] Thyrador commented on #113
Okay, after unauthorizing the device it seem to work (displays it as unauthorized now).

If I try to connect to the unauthorized device (which obviously won't work) **guiscrcpy** gets stuck at 70%, progress bar becomes red and I can't connect to another device (until I restart **guiscrcpy**). That's a bit inconvenient, tbh :P

[2020-05-04 10:56] srevinsaju commented on #113
Yes, it used to prevent connecting to an unauthorized device before; I have to rewrite the previous logic to stop continuing to start scrcpy so that `guiscrcpy` won't crash now

I will have to test with unauthorized devices now ;) to fix it completely

[2020-05-04 10:59] srevinsaju commented on #112
@Thyrador

I like the Jetbrains IDE; guiscrcpy is built completely on Jetbrains PyCharm; They might sponsor me a professional version of PyCharm because of `guiscrcpy`

Have the same feeling; For every release of `guiscrcpy`; I have to make sure everything works not only on Linux and Mac; but also on Windows; because most of my users are gamers; and all are mostly from Windows

I had got tired of

[2020-05-04 14:20] Thyrador commented on #112
Nice :)
Hopefully they will sponsor you and the tools you need.

Well, I am a gamer too. There are a handful games I have to run on Windows (otherwise I can't play them or with friends). Other than that I use Linux for most of the games I play. Running them through Lutris and Proton works like a charm (most of the time :D)

Tbh. I had to reinstall Linux on a few occasions, but that was due to my o

[2020-05-06 16:58] probonopd opened #117 "udev adb error"
GUI crashes when this is shown on the console:

Interestingly, I think I do have USB debugging enabled on the device.

[code]

[2020-05-06 17:14] srevinsaju commented on #117
@probonopd Does  the appimage.github.io update automatically when the release is updated?

[2020-05-06 17:16] srevinsaju commented on #117
@probonopd Can you please show me the output of
[code]

[2020-05-06 17:49] srevinsaju commented on #117
@probonopd I have pushed a fix that prevents automatic releasing from other branches other than master; But I am still curious of what will be the output of `adb devices -l` on your system. I would be grateful to you if you provide of the output of them same, redacting any information, (if necessary)

[2020-05-06 17:52] probonopd commented on #117
[code]

[2020-05-06 17:55] srevinsaju commented on #117
Thanks; Seems like udev rules are not configured on your system; I will have to ask the user to configure the udev rules; but this happens rarely. I will add a fix for this;

Thanks for reporting this; I had nearly forgotten about the same. I will update the documentation also accordingly

[2020-05-06 18:08] probonopd commented on #117
Thank you very much. I'd be fine if there was a GUI dialog box telling me what to do, or even better asking me for permission to "just do it".

[2020-05-06 18:13] srevinsaju commented on #117
Yes; I am implementing

[2020-05-06 19:59] srevinsaju commented on #117
@probonopd I have added a fix. As I do not have a system with incorrect udev files; I could not test it;

I hope this fix works. AppImage will be generated in the build artifacts section in the below link
https://github.com/srevinsaju/guiscrcpy/actions/runs/97493770

[2020-05-06 20:13] probonopd commented on #117
Seems to have worked, altough I am not sure whether this in part has to do with the fact that I had installed `adb` from the distribution (and maybe udev rules along with it?) earlier today.

Is it normal that these palettes are in the middle of the screen?

![Screenshot](https://user-images.githubusercontent.com/2480569/81223749-0c476400-8fd6-11ea-9c24-3830282f5552.png)

[2020-05-07 07:52] srevinsaju commented on #117
No, its not common, it rarely happens only on Chrome OS (chromium DE)
* Which Desktop Environment is yours?
* Is it possible to drag the toolkit and side panels using the dots?

[2020-05-07 18:34] probonopd commented on #117
I am using Xubuntu 18.04, so XFCE.

[2020-05-08 09:11] srevinsaju commented on #117
sure, I will test on Xubuntu. I have tested the dragging on Lubuntu, Kubuntu, Ubuntu, but unfortunately not Xubuntu. I will have to download the iso. (slow bandwidth)

[2020-05-08 15:45] srevinsaju commented on #117
Ok @probonopd I have tested it on Xubuntu

Version I have tested is
v3.7.post115

I did not have any problems in moving the windows

I have confirmed it on Xubuntu XFCE 18.04 LTS

![guiscrcpy_xfce](https://user-images.githubusercontent.com/48695438/81422339-80f7db00-915b-11ea-9d3c-f585b86823c4.gif)

It is most likely that an update on your XFCE desktop environment that has probably caused the prob

[2020-05-08 15:48] srevinsaju commented on #117
@probonopd  If you are talking of the initial position of the side panels; it is not overriden by the code; it is the desktop manager's preference where to place the toolkits. For example KDE Plasma and i3 WM places it whereever there is a open space and not exactly at the centre of the screen .

[2020-05-08 18:24] probonopd commented on #117
Thanks for checking out. Glad it is working, the position of those windows was just a minor nitpick. I think we can close this. Thanks :+1:

[2020-05-08 18:24] #117 closed

[2020-05-08 21:10] srevinsaju commented on #113
@Thyrador I have added support for connection to devices and as well as AppImages I guess.
Now scrcpy runs before launching guiscrcpy; although you might feel that guiscrcpy is launched first because scrcpy takes like 1-2 seconds extra to start than guiscrcpy.

If you have time; please test it and let me know if I can add any more features

[2020-05-09 18:38] srevinsaju opened #125 "Reordering the Panels"
It may be just me, but I would find it better if the panel options would be in the same column, instead of the same row:
![grafik](https://user-images.githubusercontent.com/62007301/80945836-080c2280-8ded-11ea-883e-5a5376476f6f.png)

_Originally posted by @Thyrador in https://github.com/srevinsaju/guiscrcpy/issues/113#issuecomment-623310695_

[2020-05-09 20:59] srevinsaju commented on #112
@Thyrador ping

[2020-05-10 11:56] #116 closed

[2020-05-10 11:57] srevinsaju commented on #125
Fixed by https://github.com/srevinsaju/guiscrcpy/commit/98f8cc10bfc152c476c2ccfed05fc460f9fbc4f3

[2020-05-10 11:57] #125 closed

[2020-05-10 11:58] #112 closed

[2020-05-10 11:59] srevinsaju commented on #113
@Thyrador I will wait another 2 days before closing this issue, in case you have time; please test

[2020-05-10 12:00] #104 closed

[2020-05-10 12:00] #105 closed

[2020-05-10 12:00] srevinsaju commented on #82
@cameel Fixed it; releasing v3.9 (stable) in a few hours

[2020-05-10 12:00] #82 closed

[2020-05-10 12:01] #107 closed

[2020-05-10 12:02] srevinsaju commented on #81
@cameel A default rotation setting has been added to `master` if that helps; let me know if it does

[2020-05-11 22:54] yochananmarqos opened #131 "[BUG] Git tags not matching latest release tag"
**Describe the bug**
Generating the `pkgver` for [`guiscrpy-git`](https://aur.archlinux.org/packages/guiscrcpy-git) in the AUR does not match the latest release tag. Everything was working fine fetching the the most recent un-annotated tag before you started the continuous builds.

**To Reproduce**

Tags available using the most recent annotated tag reachable from the last commit:
[code]
Produces:

[2020-05-12 04:48] #113 closed

[2020-05-12 04:48] #81 closed

[2020-05-12 04:48] #60 closed

[2020-05-12 04:57] srevinsaju commented on #131
Somethings which I found out:
[code]
gives
[code]

[code]
produces
[code]
on my system

This is probably because `continuous` is the most recent tag on your system.

You may try this, and let me know if it works
[code]

[2020-05-12 05:03] srevinsaju commented on #131
I had forgotten to annotate the tag; I may not edit the tag, because it will trigger another release by `github-actions`.

[2020-05-12 12:18] arnauldb opened #132 "Phone screen not showing"
**Describe the bug**
Phone screen not showing though I can swipe and interact with my phone using guiscrcpy arrows or guiscrcpy buttons.

**Screenshots**
![B7jQcdi](https://user-images.githubusercontent.com/13196747/81689120-8dc14b00-9449-11ea-94ce-05106b601360.png)

**Desktop (please complete the following information):**
* Linux Mint Sylvia 18.3
*Architecture*: 64-bit

**Linux**
 - Please paste

[2020-05-12 12:20] srevinsaju commented on #132
@arnauldb Can you tell me how you installed `guiscrcpy'
* AppImage?
* Snap
* Scrcpy

Did you try pressing `Start Scrcpy` button?

[2020-05-12 12:31] srevinsaju commented on #132
@arnauldb Can you run `guiscrcpy` in terminal and let me know what is the output when you select your device in the device view and then execute `Start Scrcpy`.
If you do not see any errors, can you please do
[code]
And could you paste the log in the console here so that I can identify what has gone wrong.
Thanks

[2020-05-12 14:55] yochananmarqos commented on #131
Yes, that works (for now). Thanks!

[code]
[code]

[2020-05-12 19:43] srevinsaju commented on #131
@yochananmarqos Shall I close this issue?

[2020-05-12 19:45] #131 closed

[2020-05-17 18:14] eslamsidereel opened #133 "guiscrcpy ~ mapper is not initialized v 3.9 [BUG]"
Hi, I followed your tutorial in issue #85 to try and initialize the mapper but nothing seams to happen.
![01](https://user-images.githubusercontent.com/45595948/82156159-e9406e00-9879-11ea-9e36-b470a2233bb1.jpg)
![02](https://user-images.githubusercontent.com/45595948/82156161-ed6c8b80-9879-11ea-9c3d-3bb398a3db71.jpg)

My phone is Honor 8C
Windows 10 1909 64-bit
runing latest version of scrcpy (v1

[2020-05-17 18:21] srevinsaju commented on #133
@eslamsidereel ,
Open a command prompt in the window where you downloaded the guiscrcpy exe,
* how to open command prompt?

* On `file explorer` go to the guiscrcpy downloaded directory
* Press the file menu on the top left, and then, click open Power shell window here
* Then type
[code]

It should then work

[2020-05-17 19:13] eslamsidereel commented on #133
Executing .\guiscrcpy.exe --mapper in CMD gives me an error "error: ambiguous option: --mapper could match --mapper-delay, --mapper-reset, --mapper-device-id"
![01](https://user-images.githubusercontent.com/45595948/82157677-468ced00-9883-11ea-90c8-fcc0cbd737ed.jpg)

[2020-05-17 19:17] srevinsaju commented on #133
[code]

Does this work?

[2020-05-17 19:22] eslamsidereel commented on #133
Sadly that didn't work.
![01](https://user-images.githubusercontent.com/45595948/82157888-725ca280-9884-11ea-96b4-507924bac181.jpg)

[2020-05-17 19:23] srevinsaju commented on #133
Ok, maybe this would,
[code]

--------------

Unfortunately, I donot have a windows device right now. I apologize for the error caused so

[2020-05-17 19:27] eslamsidereel commented on #133
Still the same issue. "guiscrcpy: error: ambiguous option: --mapper could match --mapper-delay, --mapper-reset, --mapper-device-id".

Take your time to fix the issue I can wait.

[2020-05-17 19:28] srevinsaju commented on #133
I have initiated a fix on #134. I will let you know when the server has created an exe which you can test

[2020-05-17 19:32] srevinsaju commented on #133
@eslamsidereel Can you test this exe :
https://github.com/srevinsaju/guiscrcpy/suites/690516409/artifacts/6505103

I guess it will be fixed; If it does, I will merge to master. Thanks for find a bug

[2020-05-17 19:36] cameel commented on #81
@srevinsaju Thanks for the fix. Sorry for a late answer but I did not have time to test it during the week. I did play with it during the weekend though and, while the orientation can now be changed, it has some quirks:
1) I launch `guiscrcpy`, change `Default Rotation` to `Landscape` and click `START SCRCPY`. It does show the screen in the right orientation but with huge top and bottom margins. I

[2020-05-17 19:45] srevinsaju commented on #81
@cameel It is all related to the GPU specification which are specific on your device, i.e Gemini PDA. It is possible that the Tablet has a a orientation problem, `scrcpy` server decodes the GPU device specification and can vary from device to device. For your reference, this might help you in finding your device specific error:
https://github.com/Genymobile/scrcpy/issues/972

@rom1v had created th

[2020-05-17 20:06] cameel commented on #81
I just tried `scrcpy` and it behaves just like `guiscrcpy` with `Default Rotation`. So this means that the issue must actually be in `scrcpy`.

Yeah, it's very possible that the device is reporting something weird (BTW, thanks for the link to the issue, I'll check it out when I have some time to play with it again). But I think there's still something going wrong on `scrcpy` (or `guiscrcpy`) side

[2020-05-17 20:22] srevinsaju commented on #81
@cameel Yes, what I meant is that the GPU might not be decoding the screen over the current display. The mechanism of display (GPU) and input (CPU) works independantly.
* GPU sends the screen to the PC
* PC CPU sends `(x, y)` coordinates relative the the device top left corner. The CPU might send positions differently. For example, if you tap on the left most part of the screen on your PC (scrcpy)

[2020-05-18 11:03] eslamsidereel commented on #133
The mapper now is initialized thanks for the fix, but i can't register any keys guiscrcpy hangs and the console gives me "E: 'Key' object has no attribute 'char'" over and over again.
![01](https://user-images.githubusercontent.com/45595948/82205890-931a0c00-9907-11ea-8da0-ba169d904070.jpg)

[2020-05-18 11:11] srevinsaju commented on #133
@eslamsidereel Can you remove the `guiscrcpy.mapper.json` and then try again?

Please follow the `docs` after removing the `guiscrcpy.mapper.json`

It lis likely to be in `C:/Users/Eslam/AppData/Local/guiscrcpy/guiscrcpy.mapper.json`

[2020-05-18 11:16] eslamsidereel commented on #133
Unfortunately, there is no `guiscrcpy.mapper.json` in `C:/Users/Eslam/AppData/Local/guiscrcpy/`. The folder only contains `guiscrcpy.json`

[2020-05-19 05:46] TheMissionary opened #135 "Forced close"
Running
Windows 10 64-bit Build 19628
guiscrcpy 3.8.5
OnePlus 8

I can successfully run scrcpy 1.13.  When start guiscrcpy, everything appears correct, my device is recognized, scrcpy server is recognized as running. I've got just a second before this error is presented and the program closes.

Appreciate any leads.  Thanks!

![IMG_20200518_223049](https://user-images.githubusercontent.com/5975561

[2020-05-19 06:32] srevinsaju commented on #135
@TheMissionary can you please retry with v3.9? v3.9 included a lot of bug fixes, which can solve your problem in reality

By looking at your problem, I can see that either your adb or scrcpy is a corrupted application
If it still doesn't work with v3.9,
Please
* Remove `C:/Users/<username>/AppData/Local/guiscrcpy/guiscrcpy.json`
* Restart your computer
* Open guiscrcpy
* Check if typing adb and sc

[2020-05-19 11:29] #132 closed

[2020-05-19 13:26] TheMissionary commented on #135
Received.  I'll tighten down these items on my side this evening, and report back.  Thanks for the timely response!

[2020-05-20 04:12] TheMissionary commented on #135
I removed all versions of adb and scrcpy, followed your instructions on the extra bits, reinstalled all fresh, including 3.9.  Your program works like a charm.  Thanks for your quick response!

[2020-05-20 04:57] srevinsaju commented on #135
Glad to hear

[2020-05-20 04:57] #135 closed

[2020-05-22 00:52] sosahoi commented on #133
hello,
i'm having the same behavior described here, i can test the exe if you need further testing on this issue, (link above expired)

[2020-05-22 06:06] srevinsaju commented on #133
@sosahoi you can find the new exe here https://github.com/srevinsaju/guiscrcpy/releases/tag/continuous

[2020-05-22 06:09] srevinsaju commented on #133
@eslamsidereel Can you please run
`guiscrcpy.exe --mapper` again to make it register the new keys;. Btw you need to keep your phone connected and test if you can use scrcpy, then close `guiscrcpy` and then run
[code]
It will open a new window then

[2020-05-23 00:32] sosahoi commented on #133
Hi,

from my side after testing the new EXE.

same behavior described in here:

and in here as well:

and even after doing these steps:

guiscrcpy turns unresponsive right after trying to init the mapper.
as a note, no guiscrcpy.mapper.json file is being generated, o copied a template file just to check if it worked, but got the same results, so i deleted the guiscrcpy.mapper.json again.

[2020-05-24 13:16] eslamsidereel commented on #133
Hi,
Sorry for the late reply I was super busy lately.
I tested the new guiscrcpy, but the same issue occurred:
`E: 'Key' object has no attribute 'char`
no new window opened and no `guiscrcpy.mapper.json` created in Appdata

[2020-05-24 20:28] srevinsaju commented on #133
Ok, I will provide a fix in a while. Sorry for the delay from my side too. :smile:

[2020-05-25 11:49] DesignerdriP commented on #78
Did you make sure to include python in path during the installation ?

[2020-05-28 18:39] killuadk opened #139 "can guiscrcpy work with PyQT5.10 [mac osx el capitan]"
Hi
so i want to work with guiscrcpy but i have mac osx 10.11.6 [el capitane]
and from the error i get i need the PyQT5.14 but it's support in sierra [10.12]  and later
i can get PyQT5.10 to install by the command

ERROR: guiscrcpy 3.9 has requirement PyQt5<5.15,>=5.14, but you'll have pyqt5 5.10.1 which is incompatible.
if someone can help i would really appreciate it

[2020-05-28 20:05] srevinsaju commented on #139
@killuadk  Hey, you are our first macOS user.

Is it possible to install the snap `guiscrcpy` on your system, you can find more information on the README.md

If the first method is not possible, there is a less supported and buggy workaround of install `guiscrcpy`, which is mentioned [here](https://github.com/srevinsaju/guiscrcpy/blob/master/docs/BUILD.md#v38)

after you are done with that step, m

[2020-05-29 21:16] pyup-bot opened #140 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2020-05-31 04:45] xbfrog opened #142 "guiscrcpy won't connect to phone"
I am using Ubuntu 20.04 fully updated and Samsung s10 phone also updated.  Guiscrcpy 3.9.2 just updated today from 3.9.0.  I installed Guiscrcpy from snaps. Enabled permissions in the app and enabled developer mode in Samsung. It worked for a few days. This morning turning it on brought up the Gui but no tools or directional pad. The gui said can not find any devices. Ubuntu see the phone and can

[2020-05-31 04:59] srevinsaju commented on #142
@xbfrog Can you connect your device to the PC and then run this in the terminal
[code]
Even if ubuntu detects it, for adb (the tool used to connect to mobile and send commands to the device) might not have detected it. Thats why you are getting error

[2020-05-31 05:08] xbfrog commented on #142
i ran guiscrcpy.adb devices -l the result was: List of devices attached
RF8M64D8N0J            device usb:2-3 product:beyond1qlteue model:SM_G973U1 device:beyond1q transport_id:3

dj@greenfrog:~$ List of devices attached

Command 'List' not found, did you mean:

  command 'mist' from snap mist (master)
  command 'gist' from deb yorick (2.2.04+dfsg1-10)
  command 'dist' from deb mmh (0.4-2)
  comma

[2020-05-31 06:14] srevinsaju commented on #142
@xbfrog can you now try running
[code]

and then send me the output, also please check if your device is getting detected now

[2020-05-31 13:18] xbfrog commented on #142
guiscrcpy
Scanning /snap/guiscrcpy/192/bin/guiscrcpy
Complete args ['/snap/guiscrcpy/192/bin/guiscrcpy', '/snap/guiscrcpy/192/usr/bin/python3', '/snap/guiscrcpy/192/bin/guiscrcpy']
Received []
Parsed Namespace(connect='', debug=3, disable_swipe=False, force_window_frame=False, install=False, killserver=False, mapper=False, mapper_delay=False, mapper_device_id='', mapper_reset=False, noscrcpy=False

[2020-06-01 05:04] #140 closed

[2020-06-01 05:15] srevinsaju commented on #142
@xbfrog, Seems like its only a problem with the message. Please see
[code]
And please let me know of the output of the same

Please ignore the message, (I forgot to put a CONNECTION COMPLETED Message in that box and thats why you have confusion. I am sorry about that)

Are you able to see a window of your mobile ? Thanks for your testing

[2020-06-01 11:45] xbfrog commented on #142
guiscrcpy.scrcpy
INFO: scrcpy 1.14 <https://github.com/Genymobile/scrcpy>
/snap/guiscrcpy/192/usr/... (27694 bytes in 0.009s)
[server] ERROR: Exception on thread Thread[main,5,main]
java.lang.IllegalArgumentException: The server version (1.13) does not match the client (1.14)
	at com.genymobile.scrcpy.Server.createOptions(Server.java:78)
	at com.genymobile.scrcpy.Server.main(Server.java:176)
	at c

[2020-06-01 11:46] xbfrog commented on #142
no, i do not get phone screen

[2020-06-01 16:12] srevinsaju commented on #142
@xbfrog How did you get `scrcpy v1.14` ?
Have you installed scrcpy before in any other way?
Please provide me the output of
[code]

[2020-06-01 18:44] xbfrog commented on #142
as you mentioned it now, i did try to install scrcpy via terminal before i found it in snaps. terminal install was unsuccessful.
which scrcpy
/snap/bin/scrcpy
dj@greenfrog:~$ ls /usr/local/share/scrcpy
ls: cannot access '/usr/local/share/scrcpy': No such file or directory
dj@greenfrog:~$ echo next
next
dj@greenfrog:~$ echo next ls /usr/share/scrcpy
next ls /usr/share/scrcpy

[2020-06-01 18:59] srevinsaju commented on #142
thank you; Its because you installed `scrcpy` from another source; Hence `guiscrcpy` is conficting with your installed scrcpy.
You can uninstall `scrcpy` by
[code]
And it will then solve your problem

Its not a bug with `guiscrcpy`. You can still use `scrcpy` by
[code]

Remove all installation of SCRCPY or use the AppImage of `guiscrcpy` as an alternative

[2020-06-01 19:00] srevinsaju commented on #142
Can you also execute
[code]
Which distro are you running @xbfrog

[2020-06-01 21:09] srevinsaju commented on #133
@eslamsidereel @sosahoi can you please tell me which key you tried to assign to mapping
Is it a visible ASCII character like `[A-Z], [a-z], [0-9]` or is it `Ctrl`, `Alt` or any other modifier?

[2020-06-02 05:03] xbfrog commented on #142
Thank you for finding the issue. I"m glad its not a bug, I would have never found it on my own. Guiscrcpy is the best app for its kind out there across any platform. You are doing a great job. I look to seeing more great features

[2020-06-02 05:04] xbfrog commented on #142
i'm running Ubuntu 20.04

[2020-06-02 05:06] srevinsaju commented on #142
Great! Alternatively, if you do not want to uninstall scrcpy, you can try out the AppImage from the [releases](https://github.com/srevinsaju/guiscrcpy/releases/tag/3.9.3) which will work without configuration;

Thank you

[2020-06-02 05:06] #142 closed

[2020-06-02 05:07] srevinsaju commented on #139
@killuadk had you had any success running `guiscrcpy` on MacOs?

[2020-06-02 05:24] sosahoi commented on #133
On my side, I tried with the keys [A-Z], [a-z] and [0-9] without any CTRL or ALT modifier, no difference between them, as soon as I click the Mapper button, guiscrcpy gets unresponsive, you can check the attached video to check the the full procedure.
[2020-06-01 22-15-26-146.zip](https://github.com/srevinsaju/guiscrcpy/files/4714913/2020-06-01.22-15-26-146.zip)

[2020-06-02 14:12] xbfrog opened #145 "Starting Guiscrcpy"
I followed your last instructions with no success the app starts either with terminal or gui, but no tools no phone screen. Since then i have uninstalled snap, reinstalled snap, no change. uninstalled/purged from terminal, verified no packages of either scrcpy or guiscrcpy remained, reinstalled from snap. No change. I get the desktop gui only, no tools no phone screen. Please tell me what i'm miss

[2020-06-02 14:55] srevinsaju commented on #145
@xbfrog Please try AppImage, seems like you have broken something while you installed `scrcpy` snap.

[2020-06-05 12:31] ercanezin commented on #133
I have the same issue on MacOS too. It would really help if we could get a preconfigured keys example without need of opening an interface and select the location. Eg: [Config in Chinese](https://github.com/barry-ran/QtScrcpy/blob/master/docs/%E6%8C%89%E9%94%AE%E6%98%A0%E5%B0%84%E8%AF%B4%E6%98%8E.md) . And  [Example Pubg](https://github.com/barry-ran/QtScrcpy/blob/master/keymap/gameforpeace.json)

[2020-06-08 11:14] eslamsidereel commented on #133
Same as @sosahoi tried [A-Z], [a-z] and [0-9], as soon as I click the Mapper button "E: 'Key' object has no attribute 'char'" keeps repeating and guiscrcpy gets unresponsive.

[2020-06-08 11:16] srevinsaju commented on #133
Seen the video, @sosahoi is pressing the `ENTER` key. There is no need to press enter. When the key is pressed immediately, the action is executed. The part you missed is the configuration of keys when the mapper is resetted. See previous issues for a detailed approach on how to write configuration file

[2020-06-08 11:49] eslamsidereel commented on #133
Those are the steps I have taken to try and get it working (I followed the steps in #85 ):
- connected my phone.
- ran `guiscrcpy.exe`.
- checked that my phone is in the list and USB debugging is running.
- pressed `start scrcpy`.
- closed guiscrcpy.
- ran `guiscrcpy --mapper` in a new CMD window.
From here `you should now see a window with your phone's screenshot` as mentioned in #85 not appearin

[2020-06-10 19:17] saildata opened #147 "[FR] Map swipe jestures to keyboard shortcuts"
**Is your feature request related to a problem? Please describe.**
It would be helpful with Android 10 gestures to be able to map something like `right arrow` and `left arrow` on my keyboard to swipe left and right between apps. Example: [here in example 9](https://www.computerworld.com/article/3439060/android-10-gestures.html).

**Describe the solution you'd like**
A way to map the swipe gesture

[2020-06-11 13:52] xbfrog commented on #145
You can close this I am using guiscrpy appimage even on a second computer with a fresh install. guiscrcpy installed from snap would not work there either. Clicking start server would only progress 5% then stop. So i guess i'll have to be happy with appimage thanks for your help

[2020-06-11 13:52] #145 closed

[2020-06-14 22:00] Da-Viper opened #148 "[FR] sndscrcpy support for guiscrcpy"
usbaudio is deprecated for android 10 and above the author of both scrcpy and [usbaudio ](https://github.com/rom1v/usbaudio/blob/master/README.md) created [sndcpy](https://github.com/rom1v/sndcpy) for android 10 and above

is it possible to add support for it in gui-scrcpy?

thanks

[2020-06-15 19:23] srevinsaju commented on #148
@Da-Viper Thanks. I did not know @rom1v released sndscrcpy. Thanks for letting me know. I will add the support for guscrcpy in v4

[2020-06-15 20:05] Raymo111 opened #149 "[BUG] Config files aren't being used in GUI"
**Describe the bug**
Every time I open the GUI it defaults to the default options, ignoring the config file.
**To Reproduce**
Steps to reproduce the behavior:
1. Verify that the config file contains stuff
2. Launch guiscrcpy
3. Tickbox options are back to default

**Expected behavior**
Tickboxes are initialized not from default but from config file.

**Desktop (please complete the following inform

[2020-06-15 20:30] srevinsaju commented on #149
@Raymo111 how did you install guiscrcpy : `snap`, `pip`, `AppImage` ?

[2020-06-15 22:03] Raymo111 commented on #149
@srevinsaju I installed it from the [AUR](https://aur.archlinux.org/packages/guiscrcpy/).

[2020-06-16 05:16] srevinsaju commented on #149
@Raymo111 Do you have
* `~/.config` folder
* What is the output of `echo $XDG_CONFIG_HOME` ?
* Is there no files in `~/.config/guiscrcpy/` ?

xdg is a freedesktop specification for apps. Apps use the data provided by XDG to save the configuration files. I assume you installed Arch from scratch; I had the same feeling, because some important parts of the installation are not done manually or are no

[2020-06-16 12:18] Abeelme opened #150 "How do you get the Key Mapper on MacOS to work?"
[code]

[2020-06-16 13:38] Raymo111 commented on #149
@srevinsaju ~/.config/guiscrcpy contains the config file, and since I'm on KDE, `$XDG_CONFIG_HOME` is set to ~/.config

[2020-06-16 14:57] srevinsaju commented on #149
@Raymo111  Thats odd, I wonder which checkboxes did check?

[2020-06-16 15:25] srevinsaju commented on #150
@Abeelme please remove '/Users/pc/.config/guiscrcpy/` directory and try again?

[2020-06-16 17:26] Raymo111 commented on #149
@srevinsaju so after doing that (reset settings, restart, uncheck bottom and swipe panels, lock rotation to landscape, and changing bitrate to 10000KB/s), start, exit, restart, the checkbox configs I did show up in ~/.config/guiscrcpy/guiscrcpy.json, but are reset in gui. The most interesting thing is 10000 shows in the config, but the gui now shows 1000 KB/s.

[2020-06-16 17:37] srevinsaju commented on #149
its possible that
* its a bug in guiscrcpy
* the window is not big enough to show the extra zero
* the max size in KB/s is 9999 KB/s
* To use a higher value, use a multiplier instead, for example 10000 KB/s is approximately 10 MB/s

[2020-06-16 17:43] Raymo111 commented on #149
@srevinsaju window is big enough, and I tried MB/s but it doesn't seem to work either. What about the checkboxes? Is this just an issue for me or do you have a similar thing?

[2020-06-16 17:44] srevinsaju commented on #149
I am not sure; the last time I worked on this was over a month ago. And `guiscrcpy` is not my main project, so I do not keep a track over it. Do you know how to read python code?

[2020-06-16 17:53] Raymo111 commented on #149
@srevinsaju Ahh I see, no worries. I'm not much of a Python guy. I guess I don't mind manually reconfiguring it each time, it's not like I use it every day.

[2020-06-16 18:27] srevinsaju commented on #149
I will consider this bug before the release of v4.0, and I will also add confuration for each of checkboxes. I did not add them because options like Record screen might not be used Frequently by a user. Thanks for reporting the bug.

[2020-06-16 19:22] Raymo111 commented on #149
Great!

[2020-06-16 20:22] Abeelme commented on #150
Thank you so much
My problem is the screenshot window won't open !

MacBook-Pro-de-pc:~ pc$ guiscrcpy --mapper
ERROR:root:MacOS is untested. guiscrcpy is trying to use Linux config on Mac
ERROR:root:MacOS is untested. guiscrcpy is trying to use Linux config on Mac
ERROR:root:MacOS is untested. guiscrcpy is trying to use Linux config on Mac
ERROR:root:MacOS is untested. guiscrcpy is trying to use L

[2020-06-16 20:24] srevinsaju commented on #150
Okay, seems like its not working on MacOS. Which macOS are you using? Is it 10.15 Catalina?

[2020-06-16 20:26] Abeelme commented on #150
MacOs Mojave 10.14.4

[2020-06-16 23:05] saildata commented on #147
Sorry, I didn't see the response until now : ) Are you asking what keyboard key(s) to use? If so, then user defined / default to arrow keys I would think makes sense.

[2020-06-25 22:50] mozgbrasil opened #151 "[BUG] scrcpy not launch"
Good afternoon my friends

As the image does not launch scrcpy when clicking on the start button in guiscrcpy

![Captura de tela de 2020-06-25 19-45-25](https://user-images.githubusercontent.com/17202780/85803273-258aa800-b71d-11ea-8fe1-a44374ff2524.png)
![Captura de tela de 2020-06-25 19-44-24](https://user-images.githubusercontent.com/17202780/85803277-26233e80-b71d-11ea-81f9-d43c0c754881.png)
!

[2020-06-27 20:30] srevinsaju commented on #151
@mozgbrasil sorry for the delay in reply.

Can you please remove
[code]
folder and try again?

[2020-06-29 14:16] mozgbrasil commented on #151
Good Morning @srevinsaju

Did not work

![Captura de tela de 2020-06-29 11-14-34](https://user-images.githubusercontent.com/17202780/86016952-d0d77d80-b9f9-11ea-89f2-85878bebbbe8.png)
![Captura de tela de 2020-06-29 11-14-40](https://user-images.githubusercontent.com/17202780/86016954-d208aa80-b9f9-11ea-9bc0-09d68278be63.png)

[2020-06-30 15:53] srevinsaju opened #152 "[ANNOUNCEMENT] Repository moving to gitlab.org"
Addressed to package maintainer* and users
I am moving `guiscrcpy` to gitlab.org, so if you are a user, this should not worry you. you may skip this.

* If you are looking forward to submit patches, please submit it to https://gitlab.com/srevinsaju/guiscrcpy
* If you are a package maintainer, please update the repository URLs to gitlab.org.

github.com/srevinsaju/guiscrcpy will still be working as

[2020-07-10 01:47] sosahoi commented on #133
wondering if there's been any updates on this, thanks.

[2020-07-20 11:26] srevinsaju commented on #133
@sosahoi would you like to test `4.0.a0` ?

[2020-07-21 05:14] Chachaandini opened #153 "[BUG] Failed to execute command "guiscrcpy""
I installed with pip3

`Failed to execute child process command "guiscrcpy"(no such file or direcctory)`

any help?

[2020-07-21 08:11] srevinsaju commented on #153
[code]

[2020-07-21 10:00] eslamsidereel commented on #133
I was wondering the same thing as @sosahoi , @srevinsaju  I would lie to test `4.0.a0`

[2020-07-21 11:53] srevinsaju commented on #133
Great! I will create a binary exe for you both. Or is python source possible to install. Which distribution do you prefer (`exe` or `.whl`)

[2020-07-21 12:24] Chachaandini commented on #153
Work Thanks... :)

but i didnt know how to setting keymapping

[2020-07-21 14:15] Chachaandini commented on #153
![scr](https://user-images.githubusercontent.com/20607931/88065660-14f01500-cb97-11ea-8e7f-c9bb1cfe63ad.png)

all button its normal can use, but not for that button
It try with this
`python3 -m guiscrcpy`
and close guiscrcpy, and use this command on terminal
`python3 -m guiscrcpy --mapper`

guiscrcpy
by srevinsaju
3.9.3
Licensed under GNU GPL v3 (c) 2020

MSG: Please ensure you have enabled USB De

[2020-07-21 14:18] srevinsaju commented on #153
@Chachaandini the mapper has some bugs. You may like to wait until `4.0.a0` is released. See #133

[2020-07-22 22:55] sosahoi commented on #133
i'll gladly test the EXE 4.0.a0

[2020-07-23 13:08] eslamsidereel commented on #133
Me too I will go with the EXE.

[2020-07-23 19:44] Omi231 commented on #153
Getting this error:

![image](https://user-images.githubusercontent.com/44071105/88331716-da2cdf00-cd46-11ea-8f09-4e0cb6c1ca55.png)

[2020-07-23 19:54] srevinsaju commented on #153
@Omi231 Please do
[code]

[2020-07-23 19:57] srevinsaju commented on #133
@eslamsidereel @sosahoi Can you please test https://github.com/srevinsaju/guiscrcpy/suites/951784002/artifacts/11876079

Remove `C:/Users/<username>/AppData/Local/guiscrcpy` before running the app. then execute the mapper by

`./guiscrcpy.exe --mapper` to configure the mapper

[2020-07-23 20:07] Omi231 commented on #153
Already did that. Not working! :(

[2020-07-23 20:54] srevinsaju commented on #153
@Omi231 show me the output of
[code]

[2020-07-23 20:55] srevinsaju commented on #153
@Omi231 you may like to join our Discord chat?

[2020-07-23 20:57] srevinsaju commented on #133
@eslamsidereel @sosahoi you might be interested in our discord chat (link on README)

[2020-07-23 21:16] Omi231 commented on #153
I downloaded the source code and build solved the issue. Thanks

[2020-07-24 17:59] eslamsidereel commented on #133
Downloaded `4.0.a0` but once I initialize the mapper this appear `No conda env active, defaulting to base`
![{FF869B41-0A26-4373-B803-AF4699141614} png](https://user-images.githubusercontent.com/45595948/88421064-25e39500-cde8-11ea-832d-d0a36e0d4b02.jpg)

[2020-07-24 18:03] srevinsaju commented on #133
You may ignore the `conda` message. Can you please show me the output og `adb devices` ?

[2020-07-24 18:08] eslamsidereel commented on #133
Do you mean this 👇
![{F5878512-4895-4B96-AE4F-DF00FC84C3DA} png](https://user-images.githubusercontent.com/45595948/88421705-495b0f80-cde9-11ea-8ed3-df24a43c3853.jpg)
Sorry I don't know how to get the `output og adb devices`

[2020-07-24 18:10] srevinsaju commented on #133
Yes, you see those `BBPBB...` in the green box? thats your device id.
so run
[code]

Let me know if you fall into some errors.

[2020-07-24 18:26] eslamsidereel commented on #133
The mapper finally made a screenshot and I was able to register some key maps.

![{A52D5786-969D-4A42-BF0F-B881259DB3B0} png](https://user-images.githubusercontent.com/45595948/88422977-54af3a80-cdeb-11ea-9afd-6d6a1af2e3a3.jpg)

But when I press the `initialize mapper` button in `guiscrcpy` it says that mapper is not initialized like this 👇

![{DF027619-D4FA-4E63-8229-E78D63F2C131} png](https://us

[2020-07-24 18:28] srevinsaju commented on #133
You may ignore the E: `key` errors, those come because you press enter. you may ignore those. Were you able to trigger key mapping ?

[2020-07-24 18:32] eslamsidereel commented on #133
Unfortunately no all the registered keys wont trigger.

[2020-07-24 18:32] srevinsaju commented on #133
Can you sen me `guiscrcpy.mapper.json` ?

[2020-07-24 18:32] srevinsaju commented on #133
Which are those keys which won't trigger?

[2020-07-24 18:35] eslamsidereel commented on #133
Yes, `guiscrcpy.mapper.json` was created in AppData after registration two keys `{"b": [573.0177514792899, 1404.6612466124661], "n": [692.3076923076924, 1433.4959349593496]}` , but both of them wont trigger.

[2020-07-24 18:36] srevinsaju commented on #133
Hmm, thats odd: Could you join our discord chat : https://discord.gg/TpJvDX
Did you start the mapper by clicking on the mapper button on guiscrcpy?

[2020-07-24 18:39] eslamsidereel commented on #133
I joined the discord chat thanks 😊
I tried starting the mapper by clicking on the mapper button on guiscrcpy but a windows appears saying that the mapper is not initialized.

[2020-07-24 18:44] srevinsaju commented on #133
Ok, Let me check that too. Thanks for testing

[2020-07-24 18:54] eslamsidereel commented on #133
You are welcome 😊
I tried resetting the mapper and restringing different keys. Everything works perfect at the begining but then all the keys wont trigger.

[2020-07-24 18:55] srevinsaju commented on #133
I will push a commit and send a fixed exe in a while.

[2020-07-24 20:37] srevinsaju commented on #133
@eslamsidereel fixed it; EXE:  https://github.com/srevinsaju/guiscrcpy/suites/961690952/artifacts/12101889

[2020-07-24 20:57] eslamsidereel commented on #133
It works now great 👍 Although clicking on the mapper button on guiscrcpy brings a windows saying that the mapper is not initialized, initializing it from a CMD solves the issue.
Just one last problem. It seems that there is a delay before triggering the keys.
I will continue testing the mapper.
Thanks for the fix 😄

[2020-07-24 20:58] srevinsaju commented on #133
Great. I have some more things on the main GUI to do. I hope the mapper functionality is fixed

[2020-07-24 21:02] eslamsidereel commented on #133
The mapper now is fully functional. Great work. 👍
There is only a little delay before triggering the keys.

[2020-07-26 04:22] Chachaandini commented on #153
cant i join? i want ask

[2020-07-26 07:17] srevinsaju commented on #153
Anyone can join :smile:

[2020-07-26 19:29] varadins commented on #151
When I click on "START SCRCPY" the tool bars appear, but it doesn't appear that scrcpy loads.  I don't see my android device.  When I run scrcpy - it works fine.

[2020-07-27 02:22] Chachaandini commented on #153
@srevinsaju link?

[2020-07-27 07:33] srevinsaju commented on #153
Link on the README, there is a badge with discord icon, just click that!

[2020-07-28 03:45] Chachaandini commented on #153
i didn't see that...
`https://camo.githubusercontent.com/64777c9a55daa815b421db747a75a7d83c0eb0d4/68747470733a2f2f696d672e736869656c64732e696f2f646973636f72642f3637393734363637303432323236313738333f6c6162656c3d636861742532306f6e253230446973636f7264266c6f676f3d646973636f7264266c6f676f436f6c6f723d7768697465267374796c653d666c61742d737175617265`

[2020-07-28 10:46] srevinsaju commented on #153
https://discord.gg/TGfMf3G

[2020-08-01 13:01] Apurva-2003 opened #155 "[BUG]no devices/emulators found"
Hi,
I have been using scrcpy for a long time now and was working fine on my Ubuntu 18.04 LTS.
However after installing guiscrcpy through snap I am getting this error.

$guiscrcpy.scrcpy
INFO: scrcpy 1.14 <https://github.com/Genymobile/scrcpy>
adb: error: failed to get feature set: no devices/emulators found
ERROR: "adb push" returned with value 1

My phone is connected with usb debigging enabled.

[2020-08-01 15:21] srevinsaju commented on #155
@Apurva-2003 can you please show me the output of
[code]

[2020-08-01 16:08] Apurva-2003 commented on #155
Hi,
This is the output
$ guiscrcpy.adb devices -1
adb: usage: adb devices [-l]

Are these some kind of magic words because you always ask this in issues.
Before running them I again uninstalled scrcpy and gui. Then reinstalled scrcpy and my phone was working over it. Then I install gui and same error again started coming.

[2020-08-01 16:10] srevinsaju commented on #155
Oops. not `-1`, its `-l`, l for *lad*, can you show me the output of
[code]

It helps to find if `adb` is able to detect your device. if not, its not a bug with `scrcpy` / `guiscrcpy`.

[2020-08-01 16:14] Apurva-2003 commented on #155
$ guiscrcpy.adb devices -l
List of devices attached

It is not showing the device

[2020-08-01 16:14] srevinsaju commented on #155
Hmm. can you show me the output of  `sudo snap connections guiscrcpy` ?

[2020-08-01 16:15] Apurva-2003 commented on #155
`Interface        Plug                       Slot             Notes
adb-support      guiscrcpy:adb-support      -                -
content          guiscrcpy:adb              -                -
desktop          guiscrcpy:desktop          :desktop         -
desktop-legacy   guiscrcpy:desktop-legacy   :desktop-legacy  -
home             guiscrcpy:home             :home            -
network

[2020-08-01 16:16] srevinsaju commented on #155
`sudo snap connect guiscrcpy:adb` and `sudo snap connect adb-support`

[2020-08-01 16:17] Apurva-2003 commented on #155
apurva@apurva-mishra:~$ sudo snap connect guiscrcpy:adb
error: snap "core" has no "content" interface slots
apurva@apurva-mishra:~$ sudo snap connect adb-support
error: cannot resolve connection, plug snap name is empty

[2020-08-01 16:18] Apurva-2003 commented on #155
`apurva@apurva-mishra:~$ sudo snap connect guiscrcpy:adb
error: snap "core" has no "content" interface slots
apurva@apurva-mishra:~$ sudo snap connect adb-support
error: cannot resolve connection, plug snap name is empty
apurva@apurva-mishra:~$
`

[2020-08-01 16:19] srevinsaju commented on #155
[code]

[2020-08-01 16:21] Apurva-2003 commented on #155
`apurva@apurva-mishra:~$ sudo snap connect guiscrcpy:adb :adb
error: snap "core" has no slot named "adb"
apurva@apurva-mishra:~$ sudo snap connect guiscrcpy:adb-support :adb-support
`
It ended after running some process

[2020-08-01 16:21] srevinsaju commented on #155
Now try again, it should work now

[2020-08-01 16:26] Apurva-2003 commented on #155
Through the interface it connects but screen of phone does not show
Then I tried this from other issue but ..
`$ guiscrcpy.scrcpy
INFO: scrcpy 1.14 <https://github.com/Genymobile/scrcpy>
/snap/guiscrcpy/202/usr/local/share/sc...shed. 2.0 MB/s (27694 bytes in 0.013s)
[server] ERROR: Exception on thread Thread[main,5,main]
java.lang.IllegalArgumentException: The server version (1.13) does not match

[2020-08-01 16:27] srevinsaju commented on #155
@Apurva-2003 Try `guiscrcpy` instead of `guiscrcpy.scrcpy`

[2020-08-01 16:30] Apurva-2003 commented on #155
You got me wrong.
Through guiscrcpy which has gui interface I can see my device but on connecting only toolbars show the screen does not show up. then I tried to use  guiscrcpy.scrcpy

[2020-08-01 16:32] srevinsaju commented on #155
Yes, you are right. It will not show up. Because there is no `GUI` while running `guiscrcpy.scrcpy`. Its the plain old `scrcpy`

I guess, if it does not work, try the appimage perhaps?

[2020-08-01 16:36] Apurva-2003 commented on #155
Thank for your help I will try app image but do not have high hopes as scrcpy was working fine . It is only after installing guiscrcpy that I got this error. In fact I also use adb for droidcam and it also working fine. I will try the app image tomorrow and update in the thread.

[2020-08-02 11:56] Apurva-2003 commented on #155
*Update
The Appimage is working fine. I think there is some error with the snap.

[2020-08-02 15:50] srevinsaju commented on #155
I am migrating to Appimages, snaps are not a good way to run things, Snaps are only too popular :smile:

closing this issue.

[2020-08-02 15:50] #155 closed

[2020-08-03 07:48] ashishfeels commented on #151
same issue with ubuntu 20.04 @srevinsaju

[2020-08-03 11:11] srevinsaju commented on #151
@ashishfeels @varadins how did you install `guiscrcpy` ?

[2020-08-03 12:36] ashishfeels commented on #151
snap store @srevinsaju

[2020-08-03 12:37] srevinsaju commented on #151
Hmm. I see; Please use AppImage, it will work then!

[2020-08-03 12:38] ashishfeels commented on #151
will try

[2020-08-03 13:31] ashishfeels commented on #151
not working for me @srevinsaju tried appImage

[2020-08-03 20:31] jordond commented on #151
I've encountered this problem as well, and I've gotten around it by turning the screen on, and getting to the home screen (not lock screen). Then launching, and it works.

Worth a shot 🤷

[2020-08-03 20:33] srevinsaju commented on #151
You are right! `scrcpy` sometimes fails to connect when phone is locked / permission is denied. Thanks @jordond
Will add to the documentation!

[2020-08-11 14:15] Lycan-Xx opened #156 "[BUG]Phone screen does not display but the key-mapping woks perfectly."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-11 16:11] srevinsaju commented on #156
@Lycan-Xx Please provide more information

[2020-08-11 21:43] Lycan-Xx commented on #156
I installed the app from the ubuntu app store, It works perfectly but my
phone screen does not appear, i'am able to control the phone using the
navigation tabs that appear.

On Tue, Aug 11, 2020 at 5:11 PM Srevin Saju <notifications@github.com>
wrote:

[2020-08-12 07:37] srevinsaju commented on #156
@Lycan-Xx thanks, can you try out the AppImage of guiscrcpy (not from Ubuntu app store), it's right over here (https://github.com/srevinsaju/guiscrcpy/releases).

Download the file that ends with .AppImage

After the download is complete, please double click it to run guiscrcpy

[2020-08-13 02:54] slop-me commented on #156
I'm having the same issue but I installed it using snap all the keybinds work but no display. Also weird sidenote I have to kill adb and start it again for guiscrcpy to even see my phone when installed from snap. The appimagie works great but I can't do guiscrcpy --mapper which is the whole reason I'm using guiscrcpy